<div class="contact-cpn">
  <div class="content">
    <div class="left bg-contain">
    </div>
    <div class="right">
      <div class="title">{{'contact.title' | translate}}</div>
      <div class="sub-title">{{'contact.sub_title' | translate}}</div>

      <div class="wrap-info">
        <div class="info-item full-name">
          <div class="label">{{'contact.full_name' | translate}} <span class="required">*</span> </div>
          <div class="value">
            <dx-text-box placeholder="{{'contact.placeholder_full_name' | translate}}"></dx-text-box>
          </div>
        </div>
        <div class="info-item phone">
          <div class="label">{{'contact.phone' | translate}} <span class="required">*</span> </div>
          <div class="value">
            <dx-text-box placeholder="{{'contact.placeholder_phone' | translate}}"></dx-text-box>
          </div>
        </div>
        <div class="info-item email">
          <div class="label">{{'contact.email' | translate}} <span class="required">*</span> </div>
          <div class="value">
            <dx-text-box placeholder="{{'contact.placeholder_email' | translate}}"></dx-text-box>
          </div>
        </div>
        <div class="info-item class">
          <div class="label">{{'contact.class' | translate}} <span class="required">*</span> </div>
          <div class="value">
            <app-class-selector></app-class-selector>
          </div>
        </div>
        <div class="info-item address">
          <div class="label">{{'contact.address' | translate}} <span class="required">*</span> </div>
          <div class="value">
            <dx-text-box placeholder="{{'contact.placeholder_address' | translate}}"></dx-text-box>
          </div>
        </div>
        <div class="info-item content-txt">
          <div class="label">{{'contact.content' | translate}} <span class="required">*</span> </div>
          <div class="value">
            <dx-text-area placeholder="{{'contact.placeholder_content' | translate}}"></dx-text-area>
          </div>
        </div>
      </div>

      <div class="send-btn">
        <base-button text="{{'contact.send' | translate}}" [height]="36"></base-button>
      </div>
    </div>
  </div>
</div>