<div class="about-we-cpn container">
  <div class="title">VỀ CHÚNG TÔI</div>

  <div class="wrap">
    <div class="left bg-contain">
      <div class="content">
        <div class="label">TUYÊN NGÔN GIÁO DỤC CỦA CÁNH BUỒM</div>
        <div class="text">Giáo dục là tổ chức sự trưởng thành cho thanh thiếu niên của cả một dân tộc.Trụ cột của tính
          hiện đại trong giáo dục là tự học-tự giáo dục-tự làm ra chính mình.
          Giáo dục tiểu học ổn định và đảm bảo chất lượng, thì toàn bộ nền giáo dục mới ổn định, từng gia đình ổn định,
          xã
          hội ổn định.
        </div>
      </div>
    </div>

    <div class="right bg-contain">
    </div>

    <div class="rectangle-wrap">
      <div class="rectangle"></div>
    </div>
  </div>
</div>
