<div class="cms-banner-cpn">
  <div class="cms-header">
    <app-cms-header label="Quản lý Banner trang chủ"></app-cms-header>
  </div>

  <div class="select-banner">
    <div class="label">
      Banner trang chủ <span class="required">*</span> (tối đa 3 ảnh KT 1320 *464)
    </div>
    <div class="banner-uploader">
      <uploader [showUploadButton]="false"></uploader>
    </div>
  </div>
  <div class="title-block">
    <div class="label">
      Tiêu đề lớn <span class="required">*</span>
    </div>
    <div class="input">
      <dx-text-box placeholder="Nhập nội dung" height="44"></dx-text-box>
    </div>
  </div>
  <div class="sub-title-block">
    <div class="label">
      Tiêu đề nhỏ <span class="required">*</span>
    </div>
    <div class="input">
      <dx-text-box placeholder="Nhập nội dung" height="44"></dx-text-box>
    </div>
  </div>

  <div class="features">
    <base-button text="{{'base_keys.cancel' | translate}}" [buttonType]="ButtonType.STROKED" [color]="ButtonColor.BASIC" [width]="128" [height]="36" ></base-button>

    <base-button text="{{'base_keys.save' | translate}}" [width]="128" [height]="36" ></base-button>
  </div>
</div>
