<div class="cms-banner-cpn">

  <div class="cms-content-middle">

    <div class="row select-banner">
      <div class="col-12 data-item" *ngIf="updateMode || (!this.data || !this.data.images || !this.data.images.length)">
        <div class="label">
          Banner trang chủ <span class="required">*</span> (tối đa {{maxCount}} ảnh KT 1320 *464)
        </div>
        <div class="banner-uploader">
          <uploader #uploader
            [disabled]="!updateMode || (this.data && this.data.images && this.data.images.length == maxCount)"
            [auto]="true" [maxFileSize]="10 * 1024 * 1024" [maxCount]="maxCount" (onChanged)="uploaded($event)">
          </uploader>
        </div>
      </div>

      <div class="col-12 data-item preview" *ngIf="data && data.images && data.images.length">

        <div class="label">
          Hình ảnh đã tải lên
        </div>

        <div class="banner-image-wrapper">
          <div class="banner-image" *ngFor="let url of data.imageUrls; index as i">
            <img [src]="url">

            <div class="remove" (click)="remove(i)" *ngIf="updateMode">
              <div class="icon bg-contain"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row title-block">
      <div class="col-12 data-item">
        <div class="label">
          Tiêu đề lớn <span class="required">*</span>
        </div>
        <div class="input">
          <dx-text-box #title placeholder="Nhập nội dung" height="44" [(value)]="data.title"
            [readOnly]="!updateMode"></dx-text-box>
        </div>
      </div>
    </div>

    <div class="row sub-title-block">
      <div class="col-12 data-item">
        <div class="label">
          Tiêu đề nhỏ <span class="required">*</span>
        </div>
        <div class="input">
          <app-exercise-editor #subTitle placeholder="Nhập nội dung" [valueContent]="data.subTitle"
            [readonly]="!updateMode" [height]="44" (change)="data.subTitle = $event">
          </app-exercise-editor>
        </div>
      </div>
    </div>

  </div>

  <div class="cms-features-bottom">
    <base-button text="{{'base_keys.cancel' | translate}}" [buttonType]="ButtonType.STROKED" [color]="ButtonColor.BASIC"
      [width]="128" [height]="36" [finishImmediately]="true" (onClick)="cancel()" *ngIf="updateMode">
    </base-button>

    <base-button text="{{'base_keys.update' | translate}}" [width]="128" [height]="36" [finishImmediately]="true"
      (onClick)="update()" *ngIf="!updateMode">
    </base-button>

    <base-button #saveBtn text="{{'base_keys.save' | translate}}" [width]="128" [height]="36" (onClick)="save()"
      *ngIf="updateMode">
    </base-button>
  </div>

  <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
</div>