<ng-container>
  <!-- title  -->
  <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
    *ngIf="message.data.title && message.data.title != ''">
    <span>{{message.data.title}}</span>
  </h2>

  <!-- content -->
  <mat-dialog-content>
    <span *ngIf="message.data.boxType != MessageBoxType.Html">{{message.data.content}}</span>
    <div *ngIf="message.data.boxType == MessageBoxType.Html" [innerHTML]="message.data.content"></div>
  </mat-dialog-content>

  <!-- actions  -->

  <!-- confirm  -->
  <mat-dialog-actions align="end" *ngIf="message.data.boxType == MessageBoxType.Confirm" cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <button mat-stroked-button mat-dialog-close> {{'message_box.cancel' | translate }} </button>

    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="confirm($event)">
      {{'message_box.agree' | translate}}
    </button>
  </mat-dialog-actions>

  <!-- confirm delete  -->
  <mat-dialog-actions align="end" *ngIf="message.data.boxType == MessageBoxType.ConfirmDelete" cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <button mat-stroked-button mat-dialog-close> {{'message_box.cancel' | translate }} </button>

    <button mat-raised-button color="warn" [mat-dialog-close]="true" (click)="confirmDelete($event)">
      {{'message_box.delete' | translate}}
    </button>
  </mat-dialog-actions>

  <!-- infomation  -->
  <mat-dialog-actions align="end" *ngIf="message.data.boxType == MessageBoxType.Information" cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="agree($event)">
      {{'message_box.agree' | translate}}
    </button>
  </mat-dialog-actions>

  <!-- html  -->
  <mat-dialog-actions align="end" *ngIf="message.data.boxType == MessageBoxType.Html" cdkDrag
    cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="agree($event)">
      {{'message_box.agree' | translate}}
    </button>
  </mat-dialog-actions>

</ng-container>
