::ng-deep .cart-cpn {
  height: 100%;
  padding: 40px 0 120px 0;

  .cart-title {
    display: flex;
    align-items: center;
    height: 32px;

    .icon {
      width: var(--large-title-size);
      height: var(--large-title-size);
      margin-right: 12px;
      background-image: url(~/src/assets/img/common/icon.png);
    }

    .text {
      color: var(--gray-800);
      font-size: var(--large-title-size);
      font-weight: 600;
      text-transform: uppercase;
      font-family: "MontserratBold";
    }
  }

  .cart-content {
    .courses {
      overflow: auto;

      .table {
        margin-top: 24px;
        .column {
          display: inline-block;
          height: 128px;
          padding: 16px 0;
          overflow: hidden;
          &:first-child {
            width: calc(100% - 300px);
          }
          &:last-child {
            width: 140px;
          }
          &:nth-child(2) {
            width: 160px;
          }
        }

        .head {
          .column {
            height: 56px;
            color: var(--gray-800);
            font-size: var(--medium-title-size);
            font-family: "MontserratSemiBold";
            border-bottom: 1px solid var(--greyish);
          }
        }

        .body {
          .table-row {
            display: flex;
            align-items: center;
            .column {
              border-bottom: 1px solid var(--greyish);
            }
          }
          .information {
            .prod {
              display: flex;
              cursor: pointer;

              .wrap {
                width: calc(100% - 120px);
                padding: 0 12px;

                .name {
                  margin-bottom: 12px;
                  font-size: var(--medium-title-size);
                  font-weight: 600;
                  color: var(--gray-800);
                  font-family: "MontserratSemiBold";
                }

                .short-description {
                  color: var(--gray-800);
                }
              }

              img {
                width: 120px;
                height: 92px;
                border-radius: 8px;
              }
            }
          }

          .price {
            display: flex;
            align-items: center;
            font-size: var(--medium-title-size);
            font-weight: 600;
            color: var(--main-color);
            font-family: "MontserratSemiBold";
          }

          .features {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .remove {
              display: inline-block;
              padding: 4px;
              margin: 0 auto;
              border: 1px solid var(--greyish);
              border-radius: 2px;
              cursor: pointer;

              .icon {
                width: 18px;
                height: 18px;
                background-image: url(~/src/assets/img/common/remove.svg);
              }
            }
          }
        }
      }

      table {
        tr {
          margin-bottom: 24px;

          td {
            padding: 12px 0;
          }
        }

        .course.purchased {
          .information,
          .price {
            opacity: 0.5;
          }
        }
      }
    }

    .payment {
      .payment-wrapper {
        padding: 16px;
        margin-top: 24px;
        border: 1px solid var(--gray-200);
        border-radius: 4px;
        background-color: var(--gray-25);

        .info {
          position: relative;
          min-height: 200px;

          .progess-spinner-loading {
            position: absolute !important;
          }

          .info-item {
            margin-bottom: 16px;

            .label {
              margin-bottom: 4px;
              font-family: "MontserratMedium";
              color: var(--gray-800);
            }

            .required {
              color: var(--red-05);
            }

            dx-text-box {
              border-radius: 8px !important;
            }
          }
        }

        .title {
          margin-bottom: 20px;
          font-size: var(--small-title-size);
          font-weight: 600;
          color: var(--gray-800);
        }

        .method {
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          .icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            background-image: url(~/src/assets/img/common/tick.svg);
          }
        }

        .total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;

          .value {
            color: var(--red-05);
          }

          span {
            font-weight: 600;
            font-family: "MontserratSemiBold";
          }
        }

        .login {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 24px;
          border-radius: 8px;
          background-color: var(--main-color);
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }
}
