<div class="balloon-cpn">
  <div class="balloon-item phone" (click)="Utility.featureIsInDevelopment($event)">
    <div class="icon bg-contain"></div>
  </div>
  <div class="balloon-item email" (click)="Utility.featureIsInDevelopment($event)">
    <div class="icon bg-contain"></div>
  </div>
  <div class="balloon-item zalo" (click)="Utility.featureIsInDevelopment($event)">
    <div class="icon bg-contain"></div>
  </div>
  <div class="balloon-item scroll-to-top" (click)="scrollToTop()">
    <div class="icon bg-contain"></div>
  </div>
</div>
