<div class="balloon-cpn" *ngIf="!isLoading && loadSuccess">

  <a class="balloon-item phone" [href]="'tel:' + social.phoneNumber">
    <div class="icon bg-contain"></div>
  </a>
  <a class="balloon-item email" [href]="'mailto:' + social.email">
    <div class="icon bg-contain"></div>
  </a>
  <a class="balloon-item zalo" [href]="'https://zalo.me/' + social.zalo" target="_blank">
    <div class="icon bg-contain"></div>
  </a>
  <div class="balloon-item scroll-to-top" (click)="scrollToTop()">
    <div class="icon bg-contain"></div>
  </div>

  a

</div>
