::ng-deep .my-courses-cpn {
  padding: 36px var(--side-distance);

  .my-courses-title {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 8px;

    .icon {
      width: var(--large-title-size);
      height: var(--large-title-size);
      margin-right: 12px;
      background-image: url(~/src/assets/img/common/icon.png);
    }

    .text {
      font-size: var(--large-title-size);
      color: var(--main-color);
      font-weight: 700;
    }
  }

  .my-courses-content {
    position: relative;
    width: 100%;
    height: calc(100% - 56px);

    .classes {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-height: 40px;
      padding: 4px 8px;
      margin-bottom: 16px;
      border-radius: 4px;
      background-color: var(--gray-50);

      .class {
        padding: 6px 20px;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;

        &.selected {
          background-color: var(--main-color);
          color: var(--white);
        }

        &:not(.selected):hover {
          background-color: var(--grey);
        }
      }
    }

    .courses {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      .course {
        width: 25%;
        min-width: 312px;
        height: 468px;
        padding: 8px;
        margin-bottom: 24px;
        overflow: hidden;
      }

      .loading-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 120px;

        .course-loading {
          position: relative;
          width: 50%;
          height: 100%;

          .circle {
            .skeleton-loading {
              border-radius: 0;
            }
          }
        }
      }

      .view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 0px;
        border-radius: 8px;
        background-color: var(--blue-01);
        cursor: pointer;

        .icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          background-image: url(~/src/assets/img/course/plus.png);
        }

        .text {
          color: var(--main-color);
        }
      }
    }

    .progess-spinner-loading {
      position: absolute !important;
    }
  }
}


@media screen and (max-width: 1600px) {
  .my-courses-cpn {
    .courses {
      .course {
        width: 33%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .my-courses-cpn {
    .classes {
      flex-wrap: nowrap;
      overflow: auto;

      .class {
        min-width: 100px;
      }
    }

    .courses {
      .course {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .my-courses-cpn {
    .courses {
      .course {
        width: 100%;
      }
    }
  }
}