<div class="my-courses-cpn">
  <div class="my-courses-title over-3-dots">
    <div class="icon bg-contain"></div>
    <div class="text">Danh sách khóa học</div>
  </div>

  <div class="my-courses-content">
    <div class="classes">
      <ng-container *ngIf="!loadingClass">
        <div class="class" *ngFor="let class of classes" [ngClass]="selectedClassId == class.id ? 'selected' : ''"
          (click)="filterClass(class)">
          {{class.name}}
        </div>
      </ng-container>

      <skeleton-loading *ngIf="loadingClass"></skeleton-loading>
    </div>

    <div class="courses">

      <div class="course" *ngFor="let course of courses">
        <app-course [course]="course" [mustShowPrice]="true" [includeBtn]="false" [toLesson]="true"
          [showProcess]="true">
        </app-course>
      </div>

      <div class="loading-wrapper" *ngIf="isLoading">
        <div class="course-loading">
          <open-loading></open-loading>
        </div>

        <div class="course-loading">
          <open-loading></open-loading>
        </div>
      </div>

      <div class="view-more" (click)="viewMore()" *ngIf="current < total">
        <div class="icon bg-contain"></div>
        <div class="text">{{'base_keys.view_more' | translate }}</div>
      </div>

      <p class="no-data-message" *ngIf="!isLoading && !courses.length">
        Chưa có khóa học nào
      </p>
    </div>
  </div>
</div>