::ng-deep .course-detail-cpn {
  position: relative;
  min-height: 640px;
  padding: 56px 0;

  .wrapper {
    height: 100%;

    dx-html-editor {
      border: none !important;

      .dx-quill-container {
        img {
          max-width: 100% !important;
          max-height: 100% !important;
        }
      }
    }

    .course-name {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 24px;

      .icon {
        width: var(--large-title-size);
        height: var(--large-title-size);
        margin-right: 12px;
        background-image: url(~/src/assets/img/common/icon.png);
      }

      .text {
        font-size: var(--large-title-size);
        color: var(--main-color);
        font-weight: 700;
      }

      .modified {
        width: 100%;
        margin-top: 8px;
        font-size: 11px;
        font-style: italic;
      }
    }

    .course-short-description {
      padding: 0;
      margin-bottom: 24px;
    }

    .course-image {
      min-height: 400px;
      margin: 24px 0;
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
    }

    .course-description {
      margin: 0 0 24px 0;

      .dx-htmleditor-content {
        padding: 12px 0;
      }
    }

    .course-price {
      padding: 0;
      margin-bottom: 16px;
    }

    .course-features {
      display: flex;
      align-items: center;
      padding: 0;

      base-button.buy-btn {
        margin-left: 16px;
      }

      button {
        padding: 4px;
      }

      .purchased {
        button {
          padding: 0 24px;
        }
      }
    }
  }

  .progess-spinner-loading {
    position: absolute !important;
  }
}

@media screen and (max-width: 768px) {
  .course-detail-cpn {
    .course-name {
      .icon {
        display: none !important;
      }
    }
  }
}
