::ng-deep .course-detail-cpn {
  position: relative;
  min-height: 640px;
  padding: 56px 0;

  .wrapper {
    height: 100%;

    .tox-tinymce {
      min-height: 400px;
      border: none !important;

      .tox-editor-header,
      .tox-statusbar,
      .tox-bottom-anchorbar {
        display: none !important;
      }
    }

    .course-name {
      display: flex;
      align-items: center;
      padding: 0 var(--side-distance);
      margin-bottom: 24px;

      .icon {
        width: var(--large-title-size);
        height: var(--large-title-size);
        margin-right: 12px;
        background-image: url(~/src/assets/img/common/icon.png);
      }

      .text {
        font-size: var(--large-title-size);
        color: var(--main-color);
        font-weight: 700;
      }
    }

    .course-short-description {
      padding: 0 var(--side-distance);
      margin-bottom: 24px;
    }

    .course-image {
      min-height: 400px;
      margin: 24px var(--side-distance);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
    }

    .course-description {
      margin: 0 var(--course-description-distance) 24px var(--course-description-distance);
    }

    .course-features {
      display: flex;
      align-items: center;
      padding: 0 var(--side-distance);

      base-button.buy-btn {
        margin-left: 16px;
      }

      button {
        padding: 4px;
      }

      .purchased {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .icon {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          background-image: url(~/src/assets/img/common/tick.svg);
        }

        .text {
          color: var(--green-07);
        }
      }
    }
  }

  .progess-spinner-loading {
    position: absolute !important;
  }
}