<div #courseDetail class="course-detail-cpn">
  <div class="wrapper" *ngIf="!isLoading">
    <div class="course-name">
      <div class="icon bg-contain"></div>
      <div class="text">{{course.name}}</div>
      <div class="modified">Cập nhật: {{(course.modified || course.created) | DateVietnamPipe}}</div>
    </div>

    <div class="course-short-description">{{course.shortDescription}}</div>

    <div class="course-image" [ngStyle]="{backgroundImage: 'url(' + course.imageUrl + ')'}"></div>

    <div class="course-description">
      <app-editor [valueContent]="course.description" [disable]="true">
      </app-editor>
    </div>

    <div class="course-price">
      Giá: <strong>{{course.price | NumberFormatPipe}} VND</strong>
    </div>

    <div class="course-features">
      <base-button text="{{'course.features.add_to_cart' | translate}}" [width]="132" [height]="44"
        [buttonType]="ButtonType.STROKED" [color]="ButtonColor.BASIC" [finishImmediately]="true"
        (onClick)="addToCart(true)" *ngIf="!course.purchased">
      </base-button>

      <base-button class="buy-btn" text="{{'course.features.buy_now' | translate}}" [width]="112" [height]="44"
        [finishImmediately]="true" (onClick)="buy()" *ngIf="!course.purchased">
      </base-button>

      <div class="purchased" *ngIf="course.purchased">
        <div class="icon bg-contain"></div>
        <div class="text">Đã mua</div>
      </div>
    </div>
  </div>

  <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
</div>