::ng-deep .course-cpn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  // padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;

  .course-banner {
    position: relative;
    display: block;
    height: 274px;
    margin-bottom: 16px;

    .course-img {
      height: calc(100% - 40px);
      border-radius: 8px;
    }

    .class {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      padding: 4px;
      border: 1.5px solid var(--main-color);
      background: var(--white);
      color: var(--main-color);
      font-weight: 600;
      text-align: center;
    }

    .price {
      position: absolute;
      bottom: 0;
      left: 80px;
      display: flex;
      align-items: center;
      height: 40px;
      padding: 4px 10px;
      background-color: var(--yellow-color);
      color: var(--white);
    }
  }

  .course-name {
    display: block;
    height: 58px;
    margin-bottom: 16px;
    color: var(--gray-800);
    font-weight: 600;
    cursor: pointer;

    .hl-cpn {
      font-size: var(--course-cpn-name-size); // design
      text-decoration: underline; // design
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      span.highlight {
        background-color: yellow;
      }
    }
  }

  .course-description {
    height: 48px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .course-features {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: calc(100% - 428px);

    base-button.buy-btn {
      margin-left: 16px;
    }

    button {
      padding: 4px;
    }

    .access-btn {
      width: 100% !important;
    }
  }

  .mdc-button {
    border-color: var(--main-color) !important;
  }

  &:hover {
    background-color: var(--gray-100);
  }

  &.free {
    .price {
      background-color: var(--green-07);
    }
  }

  &.purchased {
    .price {
      background-color: var(--red-05);
    }
  }

  .progess-spinner-loading {
    position: absolute !important;
  }
}

@media screen and (max-width: 992px) {
  .course-cpn {
    .course-features {
      justify-content: flex-end;
    }
  }
}
