<a class="course-cpn"
  [routerLink]="'/' + (toLesson ? Routing.COURSE_LESSON_LIST.path : Routing.COURSE_DETAIL.path)+ '/' + course.id">

  <div class="course-banner">
    <div class="course-img bg-contain" [ngStyle]="{backgroundImage: 'url(' + course.imageUrl + ')'}"></div>
    <div class="class">{{course.className}}</div>
    <div class="price">{{course.price | NumberFormatPipe}}</div>
  </div>

  <p class="course-name">
    <app-highlight [value]="course.name" [highlightWord]="highlightWord"></app-highlight>
  </p>
  <p class="course-description max-3-lines">{{course.shortDescription}}
  </p>

  <div class="course-features" *ngIf="includeBtn">
    <base-button text="{{'course.features.add_to_cart' | translate}}" [width]="132" [height]="44"
      [buttonType]="ButtonType.STROKED" [color]="ButtonColor.BASIC" [finishImmediately]="true"
      (onClick)="addToCart($event, true)" *ngIf="!course.purchased">
    </base-button>

    <base-button class="buy-btn" text="{{'course.features.buy_now' | translate}}" [width]="112" [height]="44"
      [finishImmediately]="true" (onClick)="buy($event)" *ngIf="!course.purchased">
    </base-button>

    <div class="purchased" *ngIf="course.purchased">
      <div class="icon bg-contain"></div>
      <div class="text">Đã mua</div>
    </div>
  </div>
</a>