::ng-deep .course-cpn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;

  .course-banner {
    position: relative;
    display: block;
    height: 234px;
    margin-bottom: 12px;

    .course-img {
      height: calc(100% - 32px);
      border-radius: 8px;
    }

    .class {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      padding: 4px;
      border: 1.5px solid var(--main-color);
      background: var(--white);
      color: var(--main-color);
      font-weight: 600;
      text-align: center;
    }

    .price {
      position: absolute;
      bottom: 0;
      left: 80px;
      display: flex;
      align-items: center;
      height: 32px;
      padding: 4px 8px;
      background-color: var(--yellow-color);
      color: var(--white);
    }
  }

  .course-name {
    display: block;
    height: 40px;
    margin-bottom: 12px;
    color: var(--gray-800);
    font-size: var(--small-title-size);
    font-weight: 600;
    cursor: pointer;
  }

  .course-description {
    margin-bottom: 12px;
  }

  .course-features {
    position: absolute;
    bottom: 12px;
    left: 16px;
    right: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: calc(100% - 370px);
    padding-bottom: 4px;

    base-button.buy-btn {
      margin-left: 16px;
    }

    button {
      padding: 4px;
    }

    .purchased {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-image: url(~/src/assets/img/common/tick.svg);
      }

      .text {
        color: var(--green-07);
      }
    }
  }

  .mdc-button {
    border-color: var(--main-color) !important;
  }

  &:hover {
    background-color: var(--gray-100);
  }
}

@media screen and (max-width: 992px) {
  .course-cpn {
    .course-features {
      justify-content: flex-end;
    }
  }
}
