<a class="course-cpn" [ngClass]="course.price == 0 ? 'free' : (course.purchased ? 'purchased' : '')"
  [routerLink]="'/' + (toLesson ? Routing.COURSE_LESSON_LIST.path : Routing.COURSE_DETAIL.path)+ '/' + course.id">

  <div class="course-banner">
    <div class="course-img bg-cover" [ngStyle]="{backgroundImage: 'url(' + course.imageUrl + ')'}"></div>
    <div class="class">{{course.className}}</div>
    <div class="price" *ngIf="!mustShowPrice">
      {{ course.price == 0 ? 'Miễn phí' : (course.purchased ? 'Đã mua' : course.price | NumberFormatPipe)}}
    </div>

    <div class="price must-show-price" *ngIf="mustShowPrice">{{course.price | NumberFormatPipe}}</div>
  </div>

  <p class="course-name">
    <app-highlight [value]="course.name" [highlightWord]="highlightWord"></app-highlight>
  </p>

  <p class="course-description max-2-lines">{{course.shortDescription}}
  </p>

  <div class="course-features" *ngIf="includeBtn">
    <base-button text="{{'course.features.add_to_cart' | translate}}" [width]="148" [height]="40"
      [buttonType]="ButtonType.STROKED" [color]="ButtonColor.BASIC" [finishImmediately]="true"
      (onClick)="addToCart($event, true)" *ngIf="!course.purchased && course.price > 0">
    </base-button>

    <base-button class="buy-btn" text="{{'course.features.buy_now' | translate}}" [width]="116" [height]="40"
      [finishImmediately]="true" (onClick)="buy($event)" *ngIf="!course.purchased && course.price > 0">
    </base-button>

    <base-button class="access-btn" text="Truy cập khóa học" [height]="40" [finishImmediately]="true"
      (onClick)="access($event)" *ngIf="course.purchased || course.price == 0">
    </base-button>
  </div>

  <div class="course-features" *ngIf="!includeBtn && !showProcess">
    <base-button class="access-btn" text="Vào học" [height]="40" [finishImmediately]="true">
    </base-button>
  </div>

  <div class="process" *ngIf="showProcess">
    <div class="line">
      <div class="inline" [ngStyle]="{right: (100 - processPercent) + '%'}"></div>
    </div>
    <div class="percent">{{processPercent}}%</div>
  </div>

  <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
</a>
