<div class="change-password-cpn">
    <div class="title">
        <div class="icon bg-contain"></div>
        <div class="text">{{type == '1' ? 'Đổi mật khẩu' : 'Quên mật khẩu'}}</div>
    </div>
    <div class="wrap">
        <div class="left bg-contain"></div>

        <div class="right">
            <div class="title-system">
                <div class="text">Đổi mật khẩu</div>
                <div class="logo"></div>
            </div>

            <div class="old-password" *ngIf="type == '1'">
                <div class="label">Mật khẩu cũ<span class="required">*</span> </div>
                <app-password-input #opw placeholder="Nhập mật khẩu cũ" [height]="40" [value]="oldPassword"
                    (onValueChanged)="oldPassword = $event.value" (onEnterKey)="verifyBtn.clickExecute($event)">
                </app-password-input>
            </div>

            <div class="password">
                <div class="label">Mật khẩu mới<span class="required">*</span> </div>
                <app-password-input #pw placeholder="Nhập mật khẩu mới" [height]="40" [value]="password"
                    (onValueChanged)="password = $event.value" (onEnterKey)="verifyBtn.clickExecute($event)">
                </app-password-input>
            </div>

            <div class="confirm-password">
                <div class="label">Nhập lại mật khẩu<span class="required">*</span> </div>
                <app-password-input #cpw placeholder="Nhập lại mật khẩu" [height]="40" [value]="confirmPassword"
                    (onValueChanged)="confirmPassword = $event.value" (onEnterKey)="verifyBtn.clickExecute($event)">
                </app-password-input>
            </div>

            <div class="error-message" *ngIf="error">{{error}}</div>

            <div class="verify-btn">
                <base-button #verifyBtn text="Xác nhận" [height]="44"
                    [disabled]="password == '' || confirmPassword == ''" (onClick)="change()">
                </base-button>
            </div>
        </div>

        <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
    </div>


</div>