::ng-deep .change-password-cpn {
    padding: 24px 0;
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .icon {
            width: var(--large-title-size);
            height: var(--large-title-size);
            margin-right: 12px;
            background-image: url(~/src/assets/img/auth/icon_login.png);
        }
        .text {
            color: var(--gray-800);
            font-size: var(--large-title-size);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .wrap {
        position: relative;
        display: flex;
        height: 616px;
        border-radius: 16px;
        border: 1px solid var(--Gray-200, #e4e7ec);
        .left {
            width: 50%;
            height: 100%;
            padding: 32px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            background-image: url(~/src/assets/img/auth/change-password.png);
            background-color: #fcfcfd;
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 32px;
            .title-system {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
                .text {
                    color: var(--gray-800);
                    font-size: var(--auth-sub-title-size);
                    font-weight: 600;
                }
                .logo {
                    width: 93px;
                    height: 48px;
                    background-image: url(~src/assets/img/logo.png);
                    cursor: pointer;
                }
            }
            .old-password,
            .password,
            .confirm-password {
                margin-bottom: 24px;
                .label {
                    margin-bottom: 4px;
                    font-weight: 500;
                    font-size: var(--size);
                    .required {
                        color: var(--danger);
                    }
                }
            }
            .error-message {
                margin-bottom: 12px;
                text-align: center;
                color: var(--red-05);
            }
        }
        .progess-spinner-loading {
            position: absolute !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .change-password-cpn {
        .wrap {
            border: none;
            .left {
                display: none;
            }
            .right {
                width: 100%;
                .title-system {
                    .logo {
                        display: none;
                    }
                }
            }
        }
        .title {
            display: none !important;
        }
    }
}