<div class="account-box-cpn">
  <div class="avatar bg-cover" [matMenuTriggerFor]="menu"></div>
  <div class="name over-3-dots" [matMenuTriggerFor]="menu">{{userService.user.fullName}}</div>
  <div class="more-dropdown" [matMenuTriggerFor]="menu"></div>
</div>

<mat-menu #menu="matMenu">
  <div class="account-management-content" style="padding: 12px 24px">
    <div class="amc-item information" (click)="Utility.featureIsInDevelopment($event)">
      <div class="icon"></div>
      <div class="text">Thông tin cá nhân</div>
    </div>

    <div class="amc-item change-password" (click)="Utility.featureIsInDevelopment($event)">
      <div class="icon"></div>
      <div class="text">Đổi mật khẩu</div>
    </div>

    <div class="amc-item logout" (click)="logout()">
      <div class="icon"></div>
      <div class="text">Đăng xuất</div>
    </div>
  </div>
</mat-menu>
