<div class="account-box-cpn">
  <div class="avatar bg-cover" [ngStyle]="{backgroundImage: 'url(' + user.avatarUrl + ')'}" [matMenuTriggerFor]="menu">
    <skeleton-loading *ngIf="isLoading"></skeleton-loading>
  </div>
  <div class="name over-3-dots" [matMenuTriggerFor]="menu">
    {{userService.user.fullName}}
    <skeleton-loading *ngIf="isLoading"></skeleton-loading>
  </div>
  <div class="more-dropdown" [matMenuTriggerFor]="menu"></div>
</div>

<mat-menu #menu="matMenu">
  <div class="account-management-content" style="padding: 12px 24px">
    <a class="amc-item information" [routerLink]="'/' + Routing.PERSONAL_INFORMATION.path">
      <div class="icon"></div>
      <div class="text">Thông tin cá nhân</div>
    </a>

    <a class="amc-item change-password" [routerLink]="'/' + Routing.CHANGE_PASSWORD.path">
      <div class="icon"></div>
      <div class="text">Đổi mật khẩu</div>
    </a>

    <div class="amc-item logout" (click)="logout()">
      <div class="icon"></div>
      <div class="text">Đăng xuất</div>
    </div>
  </div>
</mat-menu>