.account-box-cpn {
  display: flex;
  align-items: center;

  .name {
    max-width: 140px;
    margin-right: 4px;
    font-size: var(--size);
    cursor: pointer;
  }

  .more-dropdown {
    width: 24px;
    height: 24px;
    background-image: url(~/src/assets/img/header/dropdown.png);
    cursor: pointer;
  }
}

::ng-deep .account-box-cpn,
.account-management-content {
  .avatar {
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 50%;
    background-image: url(~/src/assets/img/header/bot-dance.gif);
    cursor: pointer;

    .skeleton-loading {
      border-radius: 50%;
      inset: -2px;
    }
  }

  .name {
    position: relative;
    min-width: 60px;
    min-height: 20px;
  }
}

.account-management-content {
  padding: 0 4px !important;

  .amc-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: #333;
    transition: all 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid var(--greyish);
    }

    &:hover {
      background-color: var(--greyish);
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    .text {
      width: calc(100% - 32px);
    }

    &.information {
      .icon {
        background-image: url(~/src/assets/img/common/person.svg);
      }
    }

    &.change-password {
      .icon {
        background-image: url(~/src/assets/img/common/lock.svg);
      }
    }

    &.logout {
      .icon {
        background-image: url(~/src/assets/img/common/logout.svg);
      }

      .text {
        color: var(--red-05);
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .account-box-cpn {
    .name {
      display: none;
    }
  }

  .avatar {
    width: 36px;
    height: 36px;
  }
}