::ng-deep .base-selector {
  position: relative;
  .dx-dropdowneditor-input-wrapper {
      position: relative;
  }
  .dx-texteditor-input {
      padding-right: 4px;
  }
  .add-icon {
      position: absolute;
      top: 0;
      right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 100%;
      cursor: pointer;
      .icon {
          width: 16px;
          height: 16px;
          background-image: url(~/src/assets/img/common/plus.png);
      }
      &:hover {
          background-color: var(--grey);
      }
  }
  .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translate(-12px, -18px);
  }
}
