<div class="home-cpn container">
  <!-- <div class="app-banner" *ngIf="!isSearchMode">
    <app-banner></app-banner>
  </div> -->

  <div class="on-search-mode" *ngIf="isSearchMode">
    <div class="search-title">Kết quả tìm kiếm</div>
    <div class="result-title" *ngIf="!isLoading && courses.length">
      Có <strong>{{total}}</strong> kết quả tìm kiếm với từ khóa <strong>{{this.paginationRequest.query}}</strong>
    </div>

    <div class="not-found" *ngIf="!isLoading && !courses.length">
      <div class="icon bg-contain"></div>
      <div class="large-title">Xin lỗi, chúng tôi không tìm thấy kết quả trùng khớp với từ khóa
        “{{paginationRequest.query}}”
      </div>
      <div class="sub-title">Hãy thử tìm kiếm cụm từ khác hoặc quay lại <a [href]="Routing.HOME.path">Trang chủ</a>
      </div>
    </div>
  </div>

  <div class="app-courses">
    <div class="course-title" *ngIf="!isSearchMode">
      <span>KHÓA HỌC TẠI</span> <span class="highlight">CÁNH BUỒM EDUCATION</span>
    </div>

    <div class="course-sub-title" *ngIf="!isSearchMode">
      Khóa học hữu ích nhất mà Cánh Buồm Education dành tới bạn
    </div>

    <div class="course-wrapper">
      <div class="course" *ngFor="let course of courses">
        <app-course [course]="course" [highlightWord]="paginationRequest.query"></app-course>
      </div>

      <div class="loading-wrapper" *ngIf="isLoading">
        <div class="course-loading">
          <open-loading></open-loading>
        </div>

        <div class="course-loading">
          <open-loading></open-loading>
        </div>
      </div>

      <p class="no-data-message" *ngIf="!isLoading && !courses.length && !isSearchMode">
        Các khóa học sẽ sớm được cập nhật tại đây!
      </p>
    </div>

    <div class="view-more" (click)="viewMore()" *ngIf="current < total">
      <div class="icon bg-contain"></div>
      <div class="text">{{'base_keys.view_more' | translate }}</div>
    </div>
  </div>
</div>