::ng-deep .home-cpn {
  .app-courses {
    padding: 16px var(--side-distance);

    .course-title {
      margin-bottom: 12px;
      text-align: center;

      span {
        font-size: var(--large-title-size);
        font-weight: 600;

        &.highlight {
          margin-left: 6px;
          color: var(--main-color);
        }
      }
    }

    .course-sub-title {
      font-size: var(--large-sub-title-size);
      text-align: center;
      margin-bottom: 24px;
    }

    .course-wrapper {
      display: flex;
      flex-wrap: wrap;

      .course {
        width: 25%;
        min-width: 312px;
        height: 468px;
        padding: 8px;
        margin-bottom: 24px;
        overflow: hidden;
      }

      .loading-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 120px;

        .course-loading {
          position: relative;
          width: 50%;
          height: 100%;

          .circle {
            .skeleton-loading {
              border-radius: 0;
            }
          }
        }
      }
    }

    .view-more {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 12px 0px;
      border-radius: 8px;
      background-color: var(--blue-01);
      cursor: pointer;

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background-image: url(~/src/assets/img/course/plus.png);
      }

      .text {
        color: var(--main-color);
      }
    }
  }

  .app-contact {
    height: 640px;
  }
}


@media screen and (max-width: 1200px) {
  .home-cpn {
    .app-courses {
      .course-wrapper {
        .course {
          width: 33%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home-cpn {
    .app-courses {
      .course-wrapper {
        .course {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .home-cpn {
    .app-courses {
      .course-wrapper {
        .course {
          width: 100%;
        }
      }
    }
  }
}