<div class="course-lesson-congratulation-cpn">
  <!-- <div class="test-info" *ngIf="!isLoading">
    <a class="back" [routerLink]="'/' + Routing.COURSE_LESSON_LIST.path + '/' + this.course.id ">
      <div class="icon bg-contain"></div>
    </a>
    <div class="test-name over-3-dots">
      {{lesson ? lesson.testName : ''}}
    </div>
    <div class="test-note over-3-dots">
      <strong>Ghi chú:</strong> {{lesson ? lesson.testDescription : ''}}
    </div>
  </div> -->

  <div class="test-content">
    <div class="image bg-contain"></div>
    <div class="congratulation">
      <strong>Chúc mừng đã hoàn thành xong bài kiểm tra: {{lesson.testName}}</strong>
    </div>
    <div class="result">
      Kết quả của bạn đạt được là: <span>{{result.corrects}}/{{result.total}}</span> câu
    </div>

    <div class="btns">
      <base-button text="Xem lại bài kiểm tra" [class]="'back'" [finishImmediately]="true" [color]="ButtonColor.BASIC"
        [width]="212" [height]="44" (onClick)="view()">
      </base-button>

      <base-button text="Trở về khóa học" [finishImmediately]="true" [width]="178" [height]="44" (onClick)="back()">
      </base-button>
    </div>
  </div>
</div>