::ng-deep .password-input-cpn {
    position: relative;

    input {
        padding-right: 40px !important;

        &::after {
            visibility: hidden;
        }
    }

    .show-icon,
    .hidden-icon {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .show-icon {
        background-image: url(~/src/assets/img/common/show.svg);
    }

    .hidden-icon {
        background-image: url(~/src/assets/img/common/hidden.svg);
    }
}