::ng-deep .cms-course-form-cpn {
  position: relative;
  height: 100%;

  .row.description {
    .tox-tinymce {
      min-height: 400px;
    }
  }

  .progess-spinner-loading {
    position: absolute !important;
  }
}
