@keyframes dim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes online-blink {
    100% {
        transform: scale(2, 2);
        opacity: 0;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}