#notification-hook {
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    right: -400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 420px;
    max-width: 80%;
    height: 96px;
    max-height: 50%;
    /* border-radius: 4px; */
    background-color: var(--white);
    box-shadow: var(--shadow) 0px 3px 10px;
    transition: all 0.3s;
    z-index: 2222;
    cursor: pointer;

    .vertical {
        width: 4px;
        height: 100%;
        /* border-top-left-radius: 4px; */
        /* border-bottom-left-radius: 4px; */
    }

    .icon {
        width: 44px;
        height: 44px;
        margin: 0 12px;
    }

    .message {
        display: flex;
        align-items: center;
        width: calc(100% - 72px);
        height: calc(100% - 8px);
        padding: 8px 16px 8px 0;
        margin: 4px 0;
        color: #333;
        font-size: 12px;
        letter-spacing: 1px;
        overflow: hidden;
    }

    &.success {
        .icon {
            background-image: url(../img/common/success.png);
        }

        .vertical {
            background-color: #4caf50;
        }
    }

    &.warning {
        .icon {
            background-image: url(../img/common/warning.png);
        }

        .vertical {
            background-color: #ffeb3b;
        }
    }

    &.danger {
        .icon {
            background-image: url(../img/common/danger.png);
        }

        .vertical {
            background-color: #f44336;
        }
    }

    &.in-progress {
        .icon {
            background-image: url(../img/common/spinner-1s-200px.svg);
        }

        .vertical {
            background-color: var(--white);
        }
    }
}