/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    transition: all 1s;
    overflow-y: auto;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}