:root {
  --vh: 1vh;
  --scroll: #f1f1f1;
  --scroll-thumb: rgb(189, 189, 189);
  --scroll-thumb-hover: rgb(156, 156, 156);
  --shadow: rgba(0, 0, 0, 0.15);
  --progress-color: #305FE8;
  --grey: #ddd;
  --greyish: #ebebeb;
  --white: #fff;
  --gray: #E4E7EC;
  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #edf0f5;
  --gray-200: #e4e7ec;
  --gray-500: #6a6e75;
  --gray-800: #1d2939;
  --blue-01: #E8EDFC;
  --green-01: #E8FCEE;
  --green-07: #17CF4E;
  --red-01: #FCE8E8;
  --red-05: #E83030;
  --main-color: #305FE8;
  --yellow-color: #EDC95E;
  --header-bg: #fff;
  --footer-bg: #1D2939;
  --grid-header-color: #E8EDFC;

  /* font-size */
  --size: 14px;
  --small-title-size: 16px;
  --medium-title-size: 20px;
  --banner-title-size: 32px;
  --banner-sub-title-size: 24px;
  --auth-title-size: 28px;
  --large-title-size: 40px;
  --large-sub-title-size: 21px;

  /* spacing  */
  --sidebar-width: 264px;
  --sidebar-padding: 24px;
  --side-distance: 300px;
  --course-description-distance: 280px;
  --cms-content-padding: 16px 36px 0 36px;
  --app-header-height: 120px;
  --app-cms-header-height: 80px;
  --header-padding: 16px 56px;
  --nav-line-top: 40px;
  --nav-line-height: 80px;
  --search-input-width: 320px;
  --banner-slide-height: 460px;
  --banner-slide-top-padding: 120px;
  --banner-white-line-height: 230px;
  --lesson-item-height: 238px;
  --lesson-image-width: 360px;

  /* visibility */
  --text-sidebar-visibility: visible;

  /* z-index */
  --grid-sticky: 100;
  --banner-title: 100;
  --header-index: 990;
  --balloon-index: 990;
  --mat-progress-bar: 1000;
  --loading-index: 1001;
  --message-box: 2000;
  --notification-hook: 2222;
  --mat-progress-bar-max: 9999;
}

@media screen and (max-width: 1600px) {
  :root {
    --side-distance: 120px;
    --banner-slide-height: 380px;
    --banner-white-line-height: 160px;
    --banner-slide-top-padding: 60px;
    --course-description-distance: 100px;
    --size: 15px;
    --medium-title-size: 18px;
    --large-title-size: 32px;
    --large-sub-title-size: 18px;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --side-distance: 100px;
    --banner-slide-height: 320px;
    --banner-white-line-height: 120px;
    --banner-slide-top-padding: 48px;
    --course-description-distance: 80px;
    --size: 14px;
    --small-title-size: 15px;
    --medium-title-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --side-distance: 80px;
    --banner-slide-height: 280px;
    --banner-white-line-height: 120px;
    --banner-slide-top-padding: 48px;
    --course-description-distance: 60px;
    --sidebar-width: 60px;
    --sidebar-padding: 8px;
    --text-sidebar-visibility: hidden;
    --size: 13px;
    --small-title-size: 14px;
    --medium-title-size: 15px;
    --large-title-size: 24px;
    --large-sub-title-size: 15px;
    --banner-title-size: 20px;
    --banner-sub-title-size: 16px;
    --header-padding: 16px 36px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --banner-slide-height: 240px;
    --banner-white-line-height: 80px;
    --banner-slide-top-padding: 36px;
    --app-header-height: 80px;
    --nav-line-top: 20px;
    --side-distance: 50px;
    --course-description-distance: 30px;
    --size: 12px;
    --header-padding: 16px 24px;
    --banner-title-size: 16px;
    --banner-sub-title-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --banner-slide-height: 200px;
    --large-title-size: 18px;
    --large-sub-title-size: 14px;
  }
}


@media screen and (max-width: 576px) {
  :root {
    --side-distance: 16px;
    --course-description-distance: 0px;
    --size: 12px;
    --header-padding: 12px 16px;
  }
}
