<div class="app-footer-cpn">
  <div class="common-info block">
    <div class="logo"></div>
    <div class="info-item address">
      <div class="icon"></div>
      <div class="text">Địa chỉ: 124/22/17 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, Hà Nội</div>
    </div>
    <div class="info-item phone">
      <div class="icon"></div>
      <div class="text">
        <span>
          {{'footer.phone' | translate}}: {{social.phoneNumber}}
        </span>

        <span class="loading-hook">
          <skeleton-loading *ngIf="isLoading"></skeleton-loading>
        </span>
      </div>
    </div>
    <div class="info-item email">
      <div class="icon"></div>
      <div class="text">
        <span>Email: {{social.email}}</span>
        <span class="loading-hook">
          <skeleton-loading *ngIf="isLoading"></skeleton-loading>
        </span>
      </div>
    </div>
  </div>
  <div class="about-we block">
    <div class="title">{{'footer.about_we' | translate}}</div>
    <a [routerLink]="Routing.HOME.path" class="about-item">{{'footer.intro' | translate}}</a>
    <a [routerLink]="Routing.MY_COURES.path" class="about-item">{{'footer.my_courses' | translate}}</a>
    <a [routerLink]="Routing.CONTACT.path" class="about-item">{{'footer.contact' | translate}}</a>
  </div>
  <div class="social block">
    <div class="title">{{'footer.social_network_media' | translate}}</div>
    <a class="icon youtube" [href]="social.youtube" target="_blank"></a>
    <a class="icon facebook" [href]="social.facebook" target="_blank"></a>
  </div>
</div>
