<div class="app-footer-cpn">
  <div class="common-info block">
    <div class="logo"></div>
    <div class="info-item address">
      <div class="icon"></div>
      <div class="text">Địa chỉ: 124/22/17 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, Hà Nội</div>
    </div>
    <div class="info-item phone">
      <div class="icon"></div>
      <div class="text">{{'footer.phone' | translate}}: 02432669140</div>
    </div>
    <div class="info-item email">
      <div class="icon"></div>
      <div class="text">Email: info@canhbuom-edu.vn</div>
    </div>
  </div>
  <div class="about-we block">
    <div class="title">{{'footer.about_we' | translate}}</div>
    <div class="about-item">{{'footer.intro' | translate}}</div>
    <div class="about-item">{{'footer.my_courses' | translate}}</div>
    <div class="about-item">{{'footer.contact' | translate}}</div>
  </div>
  <div class="social block">
    <div class="title">{{'footer.social_network_media' | translate}}</div>
    <div class="icon youtube"></div>
    <div class="icon facebook"></div>
  </div>
</div>
