::ng-deep .course-lesson-test-cpn {
  position: relative;
  height: 100%;
  min-height: 400px;
  padding: 36px var(--side-distance);

  .test-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    margin-bottom: 12px;

    .back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      border-radius: 50%;
      background-color: var(--main-color);
      cursor: pointer;

      .icon {
        width: 16px;
        height: 16px;
        background-image: url(~/src/assets/img/common/back.svg);
      }
    }

    .test-name {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 36px);
      font-size: var(--medium-title-size);
      font-weight: 600;

      .skeleton-loading {
        inset: 16px 0;
      }
    }

    .test-note {
      width: 100%;
    }
  }

  .progess-spinner-loading {
    position: absolute !important;
  }

  .test-content {
    display: flex;
    align-items: flex-start;
    height: calc(100% - 72px);

    .left {
      width: calc(100% - 280px);
      padding-right: 24px;

      .question {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;

        .order {
          width: 56px;
        }

        .text {
          width: calc(100% - 56px);
        }
      }

      .attachments {
        margin-bottom: 24px;

        .attachment-item {
          img {
            max-width: 100%;
            max-height: 100%;
          }

          &.image {
            height: 320px;
          }

          &.audio {
            height: 60px;
          }

          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }

      .answers {
        min-height: 40px;

        .wrapper {
          margin-bottom: 24px;

          .ans-item {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid var(--greyish);
            border-radius: 4px;
          }

          .random-item,
          .sta-item {
            display: inline-block;
            min-width: 64px;
            height: 48px;
            line-height: 48px;
            padding: 0px 24px;
            margin-right: 24px;
            margin-bottom: 12px;
            border: 1px solid var(--greyish);
            border-radius: 4px;
            cursor: pointer;

            &.random-item.disabled {
              background-color: var(--greyish);
              color: var(--greyish);
            }
          }

          .student-ans-line {
            margin-bottom: 12px;
            border-bottom: 1px solid var(--greyish);
          }

          &.t-1 {
            .ans-item {
              border: none;
            }
          }
        }
      }

      .btns {
        display: flex;
        align-items: center;

        base-button {
          margin-right: 24px;
        }
      }
    }

    .right {
      width: 280px;

      .legend {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .legend-item {
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .square {
            width: 16px;
            height: 16px;
            margin-right: 4px;
            border-radius: 2px;
          }

          .text {
            width: calc(100% - 20px);
          }
        }

        .current {
          .square {
            border: 1px solid var(--main-color);
          }
        }

        .not {
          .square {
            background-color: var(--greyish);
          }
        }

        .done {
          .square {
            background-color: var(--green-07);
          }
        }
      }

      .questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 12px;

        .question {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 56px;
          height: 48px;
          margin: 0 12px 12px 0;
          border-radius: 2px;
          background-color: var(--greyish);
          font-weight: 600;
          cursor: pointer;

          &.current {
            background-color: var(--white);
            border: 1px solid var(--main-color);
          }

          &.done {
            background-color: var(--green-07);
            color: var(--white);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .course-lesson-test-cpn {
    .test-content {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .left,
      .right {
        width: 100% !important;
        margin-bottom: 24px;
      }

      .right {
        .legend {
          justify-content: flex-start;
          .legend-item {
            margin-right: 24px;
          }
        }
      }
    }
  }
}
