<div class="course-lesson-test-cpn">
  <div class="test-info" *ngIf="!isLoading">
    <a class="back" [routerLink]="'/' + Routing.COURSE_LESSON_LIST.path + '/' + this.course.id ">
      <div class="icon bg-contain"></div>
    </a>
    <div class="test-name over-3-dots">
      {{lesson ? lesson.testName : ''}}
    </div>
  </div>

  <div class="test-content" *ngIf="!isLoading">
    <div class="test-note">
      <strong>Ghi chú:</strong> {{lesson ? lesson.testDescription : ''}}
    </div>

    <div class="left" *ngIf="lesson.exercises && lesson.exercises.length">
      <!-- {{lesson.exercises[currentExerciseIndex].typeText}} -->

      <!-- câu hỏi  -->
      <div class="question">
        <div class="order">
          <strong>Câu {{currentExerciseIndex + 1}}:</strong>
        </div>

        <div class="text" [innerHTML]="lesson.exercises[currentExerciseIndex].questionJson || ''">
        </div>
      </div>

      <!-- tệp -->
      <div class="attachments" *ngIf="lesson.exercises[currentExerciseIndex].hasAttachment">
        <div class="attachment-item image"
          *ngIf="lesson.exercises[currentExerciseIndex].image && lesson.exercises[currentExerciseIndex].image != ''">
          <img [src]="lesson.exercises[currentExerciseIndex].imageUrl" alt="Ảnh bài tập">
        </div>

        <div class="attachment-item audio"
          *ngIf="lesson.exercises[currentExerciseIndex].audio && lesson.exercises[currentExerciseIndex].audio != ''">
          <audio controls *ngIf="showAudio">
            <source [src]="lesson.exercises[currentExerciseIndex].audioUrl" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>

      <!-- đáp án  -->
      <div class="answers unselectable">
        <ng-container *ngFor="let ewa of formData.exerciseWithAnswers; index as i">
          <div class="wrapper" [ngClass]="'t-' + ewa.exercise.type" *ngIf="i == currentExerciseIndex">

            <!-- điền khuyết -->
            <ng-container *ngIf="ewa.exercise.type == ExerciseType.DIEN_KHUYET">
              <div class="ans-item" *ngFor="let ans of ewa.exercise.dienKhuyetAnswer; index as j">
                <dx-text-box placeholder="Nhập đán án" [height]="44" [width]="320"
                  [(value)]="ewa.answer.dienKhuyetAnswerArray[j]">
                </dx-text-box>
              </div>
            </ng-container>

            <!-- gạch dưới -->
            <ng-container *ngIf="ewa.exercise.type == ExerciseType.GACH_DUOI">
              <div class="ans-item" *ngFor="let ans of ewa.answer.gachDuoiAnswerArray; index as j">

                <!-- nhiều đáp án -->
                <ng-container *ngIf="ewa.exercise.multiCorrectAnswers">
                  <div class="checkbox" style="margin-right: 24px;">
                    <dx-check-box [height]="28" [(value)]="ans.value">
                    </dx-check-box>
                  </div>

                  <div class="text" [innerHTML]="ewa.exercise.gachDuoiAnswer[j].text"></div>
                </ng-container>

                <!-- 1 đáp án -->
                <ng-container *ngIf="!ewa.exercise.multiCorrectAnswers">
                  <input type="radio" style="width: 20px; height: 20px; margin-right: 24px;" name="ans-group"
                    [checked]="ans.value" (change)="radioChanged(ewa, j)">

                  <div class="text" [innerHTML]="ewa.exercise.gachDuoiAnswer[j].text"></div>
                </ng-container>

              </div>
            </ng-container>

            <!-- khoanh tròn  -->
            <ng-container *ngIf="ewa.exercise.type == ExerciseType.KHOANH_TRON">
              <div class="ans-item" *ngFor="let ans of ewa.answer.khoanhTronAnswerArray; index as j">

                <!-- nhiều đáp án -->
                <ng-container *ngIf="ewa.exercise.multiCorrectAnswers">
                  <div class="checkbox" style="margin-right: 24px;">
                    <dx-check-box [height]="28" [(value)]="ans.value">
                    </dx-check-box>
                  </div>

                  <div class="text" [innerHTML]="ewa.exercise.khoanhTronAnswer[j].text"></div>
                </ng-container>

                <!-- 1 đáp án -->
                <ng-container *ngIf="!ewa.exercise.multiCorrectAnswers">
                  <input type="radio" style="width: 20px; height: 20px; margin-right: 24px;" name="ans-group"
                    [checked]="ans.value" (change)="radioChanged(ewa, j)">

                  <div class="text" [innerHTML]="ewa.exercise.khoanhTronAnswer[j].text"></div>
                </ng-container>

              </div>
            </ng-container>

            <!-- sắp xếp -->
            <ng-container *ngIf="ewa.exercise.type == ExerciseType.SAP_XEP">
              <div class="student-ans-line">
                <div class="sta-item" *ngFor="let ans of ewa.answer.sapXepAnswerArray2; index as j"
                  (click)="sapxep_remove(ewa, j)">
                  {{ans.value}}
                </div>
              </div>
              <div class="random-item" [ngClass]="ans.disabled ? 'disabled' : ''"
                *ngFor="let ans of ewa.answer.sapXepAnswerArray; index as j" (click)="sapxep_choose(ewa, j)">
                {{ans.value}}
              </div>
            </ng-container>

          </div>
        </ng-container>

      </div>

      <div class="btns">
        <base-button text="Quay lại" [class]="'back'" [finishImmediately]="true" [color]="ButtonColor.BASIC"
          [height]="44" (onClick)="changeExercise(currentExerciseIndex - 1)" *ngIf="currentExerciseIndex > 0">
        </base-button>

        <base-button text="Câu hỏi tiếp theo" class="'next'" [finishImmediately]="true" [height]="44"
          (onClick)="changeExercise(currentExerciseIndex + 1)"
          *ngIf="currentExerciseIndex < (lesson.exercises.length - 1)">
        </base-button>

        <base-button text="Kết thúc bài làm & kiểm tra kết quả" [finishImmediately]="true" [height]="44"
          (onClick)="submit()" *ngIf="currentExerciseIndex == lesson.exercises.length - 1">
        </base-button>
      </div>
    </div>

    <div class="left" *ngIf="!lesson.exercises || !lesson.exercises.length">
      <span style="display: block; margin-top: 56px; text-align: center; font-weight: 600;">Các bài tập sẽ sớm xuất hiện
        tại đây!</span>
    </div>

    <!-- bảng câu hỏi  -->
    <div class="right table-questions" *ngIf="lesson.exercises && lesson.exercises.length">

      <div class="title">
        <h3>Bảng câu hỏi</h3>
      </div>

      <div class="legend">
        <div class="legend-item current">
          <div class="square"></div>
          <div class="text">Đang làm</div>
        </div>
        <div class="legend-item not">
          <div class="square"></div>
          <div class="text">Chưa làm</div>
        </div>
        <div class="legend-item done">
          <div class="square"></div>
          <div class="text">Đã làm</div>
        </div>
      </div>

      <div class="questions">
        <div class="question" *ngFor="let ewa of formData.exerciseWithAnswers; index as i"
          [ngClass]="(ewa.answer.answerJson && ewa.answer.answerJson != '') ? 'done' : (i == currentExerciseIndex ? 'current' : '')"
          (click)="changeExercise(i)">
          {{i < 10 ? '0' + (i + 1) : i + 1}} </div>
        </div>
      </div>

      <div class="test-note-2">
        <strong>Ghi chú:</strong> {{lesson ? lesson.testDescription : ''}}
      </div>

    </div>


    <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
  </div>
