<div class="forgot-password-cpn">
  <div class="title">
    <div class="icon bg-contain"></div>
    <div class="text">{{'auth.forgot_password.title' | translate}}</div>
  </div>
  <div class="wrap">
    <div class="left bg-contain"></div>
    <div class="right">
      <div class="title-system">
        <div class="text">{{'auth.forgot_password.title' | translate}}</div>
        <div class="logo"></div>
      </div>

      <div class="email">
        <div class="label">{{'auth.forgot_password.label_email' | translate}} <span class="required">*</span> </div>
        <dx-text-box #email placeholder="{{'auth.forgot_password.placeholder_email' | translate}}" height="40"
          [(value)]="emailValue" (onEnterKey)="send()">
        </dx-text-box>
      </div>

      <div class="send-btn">
        <base-button #sendBtn text="{{'auth.forgot_password.send_btn' | translate}}" [height]="44"
          (onClick)="send()"></base-button>
      </div>

      <div class="back-to-login">
        <span (click)="login()">{{'auth.forgot_password.back_to_login' | translate}}</span>
      </div>
    </div>
  </div>
</div>
