<div class="forgot-password-cpn">
  <div class="title">
    <div class="icon bg-contain"></div>
    <div class="text">{{'auth.forgot_password.title' | translate}}</div>
  </div>
  <div class="wrap" [ngClass]="'st-' + step">
    <div class="left bg-contain"></div>

    <div class="right">
      <div class="title-system">
        <div class="text">{{(step == 1 ? ('auth.forgot_password.title' | translate) : 'Mã xác nhận trong email')}}</div>
        <div class="logo"></div>
      </div>

      <div class="email" *ngIf="step == 1">
        <div class="label">{{'auth.forgot_password.label_email' | translate}} <span class="required">*</span> </div>
        <dx-text-box #email placeholder="{{'auth.forgot_password.placeholder_email' | translate}}" height="48"
          [(value)]="emailValue" (onEnterKey)="send()">
        </dx-text-box>

        <p class="error-message" *ngIf="error != ''">{{error}}</p>
      </div>

      <div class="send-btn" *ngIf="step == 1">
        <base-button #sendBtn text="{{'auth.forgot_password.send_btn' | translate}}" [height]="44" [disabled]="emailValue == ''" (onClick)="send()">
        </base-button>
      </div>

      <div class="code-wrap" *ngIf="step == 2">
        <div class="verify-title">Mã xác nhận <span>*</span></div>
        <div class="code-blocks">
          <app-otp-box [allowNumbersOnly]="true" (onChanged)="onChanged($event)"></app-otp-box>
        </div>
        <div class="not-receive">Bạn chưa nhận được email xác nhận?
          <span *ngIf="countdown > 0">{{countdown | CountDownPipe}}</span>
          <span *ngIf="countdown == 0" (click)="send()">Gửi lại mã xác nhận</span>
        </div>
      </div>

      <div class="verify-btn" *ngIf="step == 2">
        <base-button #verifyBtn text="Xác nhận" [height]="44" [disabled]="otp.length < 4" (onClick)="verify()">
        </base-button>
      </div>

      <div class="back-to-login" *ngIf="step == 1">
        <span (click)="login()">{{'auth.forgot_password.back_to_login' | translate}}</span>
      </div>
    </div>



    <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
  </div>


</div>
