::ng-deep .forgot-password-cpn {
    padding: 24px 0;
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .icon {
            width: var(--large-title-size);
            height: var(--large-title-size);
            margin-right: 12px;
            background-image: url(~/src/assets/img/auth/icon_login.png);
        }
        .text {
            color: var(--gray-800);
            font-size: var(--large-title-size);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .wrap {
        position: relative;
        display: flex;
        height: 616px;
        border-radius: 16px;
        border: 1px solid var(--Gray-200, #e4e7ec);
        .left {
            width: 50%;
            height: 100%;
            padding: 32px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            background-color: #fcfcfd;
        }
        &.st-1 {
            .left {
                background-image: url(~/src/assets/img/auth/forgot.png);
            }
        }
        &.st-2 {
            .left {
                background-image: url(~/src/assets/img/auth/verify.png);
            }
        }
        .right {
            width: 50%;
            height: 100%;
            padding: 32px;
            .title-system {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
                .text {
                    color: var(--gray-800);
                    font-size: var(--auth-sub-title-size);
                    font-weight: 600;
                }
                .logo {
                    width: 93px;
                    height: 48px;
                    background-image: url(~src/assets/img/logo.png);
                    cursor: pointer;
                }
            }
            .email {
                margin-bottom: 24px;
                .label {
                    margin-bottom: 4px;
                    font-weight: 500;
                    font-size: var(--size);
                    .required {
                        color: var(--danger);
                    }
                }
                .error-message {
                    margin-top: 8px;
                    color: var(--red-05);
                }
            }
            .back-to-login {
                margin-top: 24px;
                text-align: center;
                color: var(--main-color);
                font-size: var(--size);
                font-weight: 600;
                text-decoration-line: underline;
                cursor: pointer;
            }
            .code-wrap {
                .verify-title {
                    margin-bottom: 4px;
                    span {
                        color: var(--red-05);
                    }
                }
                .code-blocks {
                    margin-bottom: 12px;
                }
                .not-receive {
                    margin-bottom: 12px;
                    span {
                        color: var(--main-color);
                        cursor: pointer;
                    }
                }
            }
        }
        .progess-spinner-loading {
            position: absolute !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .forgot-password-cpn {
        .wrap {
            border: none;
            .left {
                display: none;
            }
            .right {
                width: 100%;
                .title-system {
                    // display: none;
                    .logo {
                        display: none;
                    }
                }
            }
        }
        .title {
            display: none !important;
            // .icon {
            //   display: none !important;
            // }
            // .text {
            //   margin-left: 16px;
            // }
        }
    }
}