::ng-deep .pin4-cpn {
  height: 100%;
  padding: 36px 0 96px 0;

  .pin4-title {
    display: flex;
    align-items: center;
    height: 32px;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background-image: url(~/src/assets/img/common/icon.png);
    }

    .text {
      font-size: var(--medium-title-size);
      font-weight: 600;
    }
  }

  .pin4-content {
    position: relative;

    .avatar {
      width: 100%;
      height: 100%;
      // width: 240px;
      // height: 240px;
      padding: 2px;
      margin: 4px auto;
      border-radius: 32px;
      // border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
      }
    }

    .camera {
      width: 48px;
      height: 48px;
      margin: 0px auto;

      .base-uploader,
      .uploader {
        height: 100%;

        .icon-inner {
          background-image: url(~/src/assets/img/common/camera.svg);
        }

        ngx-dropzone {
          border-radius: 50%;
          background-color: var(--greyish);
        }
      }
    }

    .info-wrapper {
      padding-left: 16px;

      .data-item {
        margin-bottom: 24px;

        .label {
          min-height: 20px;
          margin-bottom: 6px;
          font-weight: 600;

          .required {
            color: var(--danger);
          }
        }
      }

      .update-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 10px 24px;
        margin-left: 16px;
        border-radius: 4px;
        background-color: var(--main-color);
        color: var(--white);
        cursor: pointer;
      }

      .cancel-x-btn {
        button {
          background-color: #E51919;
        }
      }

      dx-text-box {
        border: none !important;
        border-bottom: 1px solid var(--gray-200) !important;
        border-radius: 0;
      }
    }

    .progess-spinner-loading {
      position: absolute !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .pin4-content {
    .avatar {
      width: 240px;
      height: 240px;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 992px) {
  .pin4-content {
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .pin4-content {
    .avatar {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }
  }
}