<div class="pin4-cpn">
  <div class="pin4-title">
    <div class="icon bg-contain"></div>
    <div class="text">THÔNG TIN CÁ NHÂN</div>
  </div>

  <div class="pin4-content">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="avatar bg-cover" [ngStyle]="{backgroundImage: 'url(' + user.avatarUrl + ')'}">
        </div>

        <div class="camera" *ngIf="!viewMode">
          <uploader mode="exercise-image" [disabled]="viewMode" [auto]="true" (onChanged)="selected($event)"></uploader>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="info-wrapper row">
          <div class="col-12 data-item">
            <div class="label">Họ và tên <span class="required">*</span></div>
            <dx-text-box #name [(value)]="user.fullName" [readOnly]="viewMode"></dx-text-box>
          </div>

          <div class="col-12 data-item">
            <div class="label">Email <span class="required">*</span></div>
            <dx-text-box [(value)]="user.email" [readOnly]="viewMode"></dx-text-box>
          </div>

          <div class="col-12 data-item">
            <div class="label">Số điện thoại <span class="required">*</span></div>
            <dx-text-box [(value)]="user.phoneNumber" [readOnly]="viewMode"></dx-text-box>
          </div>
          <div class="col-12 data-item">
            <div class="label">Lớp</div>
            <app-class-selector #selector [value]="user.classId" [readOnly]="viewMode"
              (onValueChanged)="user.classId = $event.current">
            </app-class-selector>
          </div>

          <div class="update-btn" (click)="update()" *ngIf="viewMode">
            Chỉnh sửa thông tin
          </div>

          <div class="save-btn" *ngIf="!viewMode">
            <base-button #saveBtn text=" Lưu thông tin chỉnh sửa" [color]="ButtonColor.SUCCESS" [disabled]="isLoading" [height]="38" [width]="240"
              (onClick)="save()">
            </base-button>
          </div>
        </div>
      </div>
    </div>

    <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
  </div>
</div>
