<div class="cms-features-cpn">
    <base-button #cancelBtn text="{{'base_keys.cancel' | translate}}" [buttonType]="ButtonType.STROKED"
        [color]="ButtonColor.BASIC" [width]="148" [height]="48" (onClick)="cancel.emit()">
    </base-button>

    <base-button #updateBtn text="{{'base_keys.update' | translate}}" [width]="148" [height]="48"
        (onClick)="update.emit()" *ngIf="formMode == FormMode.View">
    </base-button>

    <base-button #saveBtn text="{{'base_keys.save' | translate}}" [width]="148" [height]="48" (onClick)="save.emit()"
        *ngIf="formMode == FormMode.Add || formMode == FormMode.Update">
    </base-button>

    <base-button #deleteBtn text="{{'base_keys.delete' | translate}}" [width]="148" [height]="48"
        [color]="ButtonColor.WARN" (onClick)="delete.emit()" [finishImmediately]="true"
        *ngIf="formMode == FormMode.Update || formMode == FormMode.View">
    </base-button>
</div>
