::ng-deep .cms-course-cpn {
  position: relative;
  height: 100%;
  padding: var(--cms-content-padding);

  .course-content {
    position: relative;
    height: 100%;

    .progess-spinner-loading {
      position: absolute !important;
    }

    span.release {
      color: limegreen !important;
      font-weight: 550;
    }

    span.comming-soon {
      color: var(--main-color) !important;
      font-weight: 550;
    }

    span.inactive {
      color: red !important;
      font-weight: 550;
    }
  }
}
