<div class="app-header-cpn">
  <div class="bg-line"></div>
  <div class="nav-line">
    <div class="nav-left">
      <a class="logo" [routerLink]="Routing.HOME.path"></a>

      <a class="nav-item" [routerLink]="Routing.HOME.path" [ngClass]="Routing.HOME.path == path ? 'selected' : ''">
        <div class="text">{{'header.navs.home' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <!-- <a class="nav-item" [routerLink]="Routing.CONTACT.path" [ngClass]="Routing.CONTACT.path == path ? 'selected' : ''"
        >
        <div class="text">{{'header.navs.contact' | translate}}</div>
        <div class="under-line"></div>
      </a> -->

      <a class="nav-item" [routerLink]="Routing.GUIDE.path" [ngClass]="Routing.GUIDE.path == path ? 'selected' : ''">
        <div class="text">{{'header.navs.guide' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <a class="nav-item" [routerLink]="Routing.MY_COURES.path"
        [ngClass]="Routing.MY_COURES.path == path ? 'selected' : ''"
        *ngIf="AuthService.CurrentStatus == AuthStatus.LoggedIn">
        <div class="text">{{'header.navs.my_courses' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <a class="nav-item" [routerLink]="Routing.CMS.path" *ngIf="AuthService.CurrentStatus == AuthStatus.LoggedIn">
        <div class="text">CMS</div>
        <div class="under-line"></div>
      </a>
    </div>


    <div class="nav-right unauthenticated"
      *ngIf="AuthService.CurrentStatus != AuthStatus.LoggedIn && AuthService.CurrentStatus != AuthStatus.Unknown">
      <a class="cart" [routerLink]="Routing.CART.path">
        <span class="item-count" *ngIf="SharedService.CartItems.length > 0">
          {{SharedService.CartItems.length > 9 ? '9+' : SharedService.CartItems.length}}
        </span>
      </a>

      <div class="wrap">
        <div class="search" (click)="Utility.featureIsInDevelopment($event)"></div>
        <div class="seperate-line"></div>
        <a class="login" [routerLink]="Routing.LOGIN.path">
          {{'header.features.login' | translate}}
        </a>
        <div class="slash">/</div>
        <a class="register" [routerLink]="Routing.REGISTER.path">
          {{'header.features.register' | translate}}
        </a>
      </div>

    </div>

    <div class="nav-right authenticated" *ngIf="AuthService.CurrentStatus == AuthStatus.LoggedIn">
      <div class="search" (click)="Utility.featureIsInDevelopment($event)"></div>

      <a class="cart" [routerLink]="Routing.CART.path">
        <span class="item-count" *ngIf="SharedService.CartItems.length > 0">
          {{SharedService.CartItems.length > 9 ? '9+' : SharedService.CartItems.length}}
        </span>
      </a>

      <app-account-box></app-account-box>
    </div>
  </div>

  <!-- <div class="nav-resp">

  </div> -->
</div>
