<div class="app-header-cpn">
  <div class="bg-line"></div>
  <div class="nav-line">
    <div class="nav-left">
      <a class="logo" [routerLink]="Routing.HOME.path"></a>

      <a class="nav-item" [routerLink]="Routing.HOME.path" [ngClass]="selectedIndex == 0 ? 'selected' : ''">
        <div class="text">{{'header.navs.home' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <a class="nav-item" [routerLink]="Routing.HOME.path" [ngClass]="selectedIndex == 1 ? 'selected' : ''"
        (click)="Utility.featureIsInDevelopment($event)">
        <div class="text">{{'header.navs.contact' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <a class="nav-item" [routerLink]="Routing.HOME.path" [ngClass]="selectedIndex == 2 ? 'selected' : ''"
        (click)="Utility.featureIsInDevelopment($event)">
        <div class="text">{{'header.navs.guide' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <a class="nav-item" [routerLink]="Routing.HOME.path" [ngClass]="selectedIndex == 3 ? 'selected' : ''"
        *ngIf="AuthService.CurrentStatus == AuthStatus.LoggedIn" (click)="Utility.featureIsInDevelopment($event)">
        <div class="text">{{'header.navs.my_courses' | translate}}</div>
        <div class="under-line"></div>
      </a>

      <a class="nav-item" [routerLink]="Routing.CMS.path" *ngIf="AuthService.CurrentStatus == AuthStatus.LoggedIn">
        <div class="text">CMS</div>
        <div class="under-line"></div>
      </a>
    </div>


    <div class="nav-right unauthenticated"
      *ngIf="AuthService.CurrentStatus != AuthStatus.LoggedIn && AuthService.CurrentStatus != AuthStatus.Unknown">
      <div class="cart" (click)="Utility.featureIsInDevelopment($event)"></div>
      <div class="wrap">
        <div class="search" (click)="Utility.featureIsInDevelopment($event)"></div>
        <div class="seperate-line"></div>
        <a class="login" [routerLink]="Routing.LOGIN.path">
          {{'header.features.login' | translate}}
        </a>
        <div class="slash">/</div>
        <a class="register" [routerLink]="Routing.REGISTER.path">
          {{'header.features.register' | translate}}
        </a>
      </div>
    </div>

    <div class="nav-right authenticated" *ngIf="AuthService.CurrentStatus == AuthStatus.LoggedIn">
      <div class="search" (click)="Utility.featureIsInDevelopment($event)"></div>
      <div class="cart" (click)="Utility.featureIsInDevelopment($event)"></div>

      <app-account-box></app-account-box>
    </div>
  </div>

  <!-- <div class="nav-resp">

  </div> -->
</div>
