<div id="app" #app [ngClass]="mode == 'cms' ? 'cms' : ''">
  <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0 && mode == 'cms'"></mat-progress-bar>

  <ng-container *ngIf="mode == 'user'">
    <div class="app-header">
      <app-header></app-header>
    </div>
    <div #appContent class="app-content">
      <router-outlet></router-outlet>
    </div>
    <div class="app-footer">
      <app-footer></app-footer>
    </div>

    <div class="app-balloon">
      <app-ballon></app-ballon>
    </div>
  </ng-container>

  <ng-container *ngIf="mode == 'cms'">
    <div class="sidebar">
      <app-cms-sidebar></app-cms-sidebar>
    </div>

    <div class="app-cms-header">
      <app-cms-header></app-cms-header>
    </div>

    <div #appContent class="app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>

<snackbar></snackbar>
<message-box></message-box>

<div id="calculator"></div>
