::ng-deep #app {
  position: relative;
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;

  .app-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--app-header-height);
    z-index: var(--header-index);
  }

  .app-content {
    width: 100%;
    max-width: 100%;
    min-height: calc(var(--vh, 1vh) * 100 - 475px);
    scroll-behavior: smooth;
  }

  .app-footer {
    height: 355px;
  }

  .app-balloon {
    position: fixed;
    right: 24px;
    bottom: 128px;
    border-radius: 4px;
    z-index: var(--balloon-index);
  }
}

::ng-deep {
  .mat-mdc-menu-content {
    padding: 4px !important;
  }

  .mat-mdc-dialog-content {
    span {
      color: black;
    }
  }

  .dx-popup-content {
    // padding: 4px !important;
  }

  .mat-form-field-ripple {
    display: none !important;
  }

  .tox-notification {
    display: none !important;
  }

  .mat-progress-bar {
    position: fixed !important;
    top: 0;
    z-index: var(--mat-progress-bar) !important;
    height: 3px !important;
    border-radius: 2px;
  }

  mat-progress-bar {
    z-index: var(--mat-progress-bar-max);

    .mdc-linear-progress__buffer-bar {
      height: 3px !important;
    }

    .mdc-linear-progress__bar-inner {
      display: block;
      height: 3px;
      // background-color: #1774e7;
      background-color: var(--progress-color);
      border: none;
      background: linear-gradient(100deg,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0) 60%) var(--progress-color);
      background-size: 200% 100%;
      background-position-x: 180%;
      animation: 1.8s shine linear infinite !important;
    }
  }
}

#calculator {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
}

@media screen and (max-width: 992px) {
  #app {
    .app-footer {
      height: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  ::ng-deep {
    #app {
      overflow-x: hidden;

      .app-header {
        height: 80px !important;

        .bg-line {
          display: none;
        }

        .nav-line {
          top: 0;
          left: 0;
          right: 0;
          padding: 16px;
        }
      }
    }
  }
}