<div class="login-cpn" *ngIf="!data">
  <div class="title">
    <div class="icon bg-contain"></div>
    <div class="text">{{'auth.login.title' | translate}}</div>
  </div>
  <div class="wrap">
    <div class="left bg-contain"></div>
    <div class="right">
      <div class="title-system">
        <div class="text">{{'auth.login.title2' | translate}}</div>
        <div class="logo"></div>
      </div>

      <div class="email">
        <div class="label">{{'auth.login.label_email' | translate}} <span class="required">*</span> </div>
        <dx-text-box #email placeholder="{{'auth.login.placeholder_email' | translate}}" height="40"
          [(value)]="request.username" (onEnterKey)="loginBtn.clickExecute($event)">
        </dx-text-box>
      </div>

      <div class="password">
        <div class="label">{{'auth.login.label_password' | translate}} <span class="required">*</span> </div>
        <app-password-input #password [placeholder]="'auth.login.placeholder_password' | translate" [height]="40"
          [value]="request.password" (onValueChanged)="request.password = $event.value"
          (onEnterKey)="loginBtn.clickExecute($event)">
        </app-password-input>

        <!-- <div class="view-password"></div> -->
      </div>

      <!-- <div class="error-message" *ngIf="errorMsg != ''">
        {{errorMsg}}
      </div> -->

      <div class="one-row">
        <div class="remember-me">
          <input type="checkbox" id="remeber" name="remeber">
          <label for="remeber"> {{'auth.login.remember_me' | translate}}</label>
        </div>

        <div class="forgot-password" (click)="forgotPassword()">{{'auth.login.forgot_password' | translate}}</div>
      </div>

      <div class="login-btn">
        <base-button #loginBtn text="{{'auth.login.login_btn' | translate}}" [height]="44"
          (onClick)="login()"></base-button>
      </div>

      <div class="have-no-account">
        <span>{{'auth.login.have_no_account' | translate}}</span>
        <span class="register-now" (click)="register()">{{'auth.login.register' | translate}}</span>
      </div>
    </div>
  </div>
</div>

<div class="login-popup-cpn" *ngIf="data">
  <div class="right">
    <div class="title-system">
      <div class="text">{{'auth.login.title2' | translate}}</div>
      <div class="logo"></div>
    </div>

    <div class="email">
      <div class="label">{{'auth.login.label_email' | translate}} <span class="required">*</span> </div>
      <dx-text-box #email placeholder="{{'auth.login.placeholder_email' | translate}}" height="40"
        [(value)]="request.username" (onEnterKey)="loginBtn.clickExecute($event)">
      </dx-text-box>
    </div>

    <div class="password">
      <div class="label">{{'auth.login.label_password' | translate}} <span class="required">*</span> </div>
      <app-password-input #password [placeholder]="'auth.login.placeholder_password' | translate" [height]="40"
        [value]="request.password" (onValueChanged)="request.password = $event.value"
        (onEnterKey)="loginBtn.clickExecute($event)">
      </app-password-input>

      <!-- <div class="view-password"></div> -->
    </div>

    <!-- <div class="error-message" *ngIf="errorMsg != ''">
      {{errorMsg}}
    </div> -->

    <div class="one-row">
      <div class="remember-me">
        <input type="checkbox" id="remeber" name="remeber">
        <label for="remeber"> {{'auth.login.remember_me' | translate}}</label>
      </div>

      <div class="forgot-password" (click)="forgotPassword()">{{'auth.login.forgot_password' | translate}}</div>
    </div>

    <div class="login-btn">
      <base-button #loginBtn text="{{'auth.login.login_btn' | translate}}" [height]="44"
        (onClick)="login()"></base-button>
    </div>

    <div class="have-no-account">
      <span>{{'auth.login.have_no_account' | translate}}</span>
      <span class="register-now" (click)="register()">{{'auth.login.register' | translate}}</span>
    </div>

  </div>
</div>