::ng-deep .cms-class-form-cpn {
  position: relative;
  height: 100%;

  .data-item {
    margin-bottom: 24px;
    .label {
      margin-bottom: 4px;

      .required {
        color: var(--danger);
      }
    }
  }

  .progess-spinner-loading {
    position: absolute !important;
  }
}
