.banner-cpn {
  position: relative;

  .blue-line {
    height: var(--banner-slide-height);
    background-color: var(--main-color);
  }

  .white-line {
    height: var(--banner-white-line-height);
    background-color: var(--white);
  }

  .hero-slide {
    position: absolute;
    top: var(--banner-slide-top-padding);
    left: var(--side-distance);
    right: var(--side-distance);
    height: var(--banner-slide-height);

    .intro {
      display: flex;
      align-items: center;
      height: 72px;

      .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 8px 16px;
        background-color: var(--yellow-color);
        color: var(--white);
        font-size: var(--banner-sub-title-size);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    .large-title {
      position: absolute;
      top: 50%;
      left: -48px;
      display: flex;
      align-items: center;
      max-width: 800px;
      height: 96px;
      z-index: var(--banner-title);

      .yellow-block {
        width: 96px;
        height: 96px;
        margin-right: 24px;
        border-radius: 2px;
        background-color: var(--yellow-color);
      }

      .text {
        width: calc(100% - 120px);
        color: var(--white);
        font-size: var(--banner-title-size);
        font-weight: 700;
      }
    }
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;

  .bg-image,
  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .dots {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    .dot {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border: 2px solid var(--white);
      border-radius: 50%;

      .inner-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--white);
      }
    }

    .dot:nth-child(2) {
      margin: 0 8px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner-cpn {
    .hero-slide {
      .intro {
        height: 56px;
      }

      .large-title {
        left: -36px;
        height: 72px;
        .yellow-block {
          width: 72px;
          height: 72px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .banner-cpn {
    .hero-slide {
      .intro {
        height: 40px;
      }

      .large-title {
        left: -20px;
        height: 40px;
        .yellow-block {
          width: 40px;
          height: 40px;
        }
      }
    }

    .image-container {
      .dot {
        width: 8px;
        height: 8px;
      }
    }
  }
}
