<div class="banner-cpn container" *ngIf="!isLoading">
  <div class="image-container">
    <img [src]="url" *ngFor="let url of banner.imageUrls">
  </div>

  <div class="middle-line">
    <div class="yellow-block"></div>
    <div class="text">
      {{banner.title}}
    </div>
  </div>

  <div class="bottom-line">
    <div class="dots">
      <ng-container *ngFor="let url of banner.imageUrls; index as i">
        <div class="dot" [ngClass]="currentIndex == i ? 'current' : ''"></div>
      </ng-container>
    </div>

    <div class="text">
      {{banner.subTitle}}
    </div>

    <div class="plus">++++++</div>
  </div>
</div>