<div class="base-grid-cpn">
  <div class="grid-content">

    <div class="grid-toolbar">

      <ng-container *ngIf="checkedCount == 0">
        <div class="left">
          <div class="search">
            <dx-text-box mode="search" [matTooltip]="searchPlaceholder" [placeholder]="searchPlaceholder"
              [disabled]="!searchKeys.length" [width]="searchWidth" [(value)]="searchValue"
              (onValueChanged)="onSearch.emit(searchValue)">
            </dx-text-box>
          </div>
        </div>
        <div class="right">
          <div class="sort-btn" [matMenuTriggerFor]="menu">
            <div class="text">Sắp xếp theo: {{sortValue}}</div>
            <div class="icon"></div>
          </div>

          <div class="add-btn">
            <base-button text="Thêm dữ liệu" [height]="36" [iconButtonType]="IconButtonType.ADD"
              [finishImmediately]="true" (onClick)="onAdd.emit()">
            </base-button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="checkedCount > 0">
        <div class="wrap">
          <span class="unselect-item" (click)="uncheckAll()">
            Bỏ chọn <strong>{{checkedCount | NumberFormatPipe}}</strong> bản ghi
          </span>

          <span class="delete-multi" (click)="deleteMulti()">Xóa</span>
        </div>
      </ng-container>
    </div>


    <div #gridContentBody class="grid-content-body">

      <!-- table  -->
      <div #table class="table">

        <!-- header  -->
        <div class="table-header">
          <div class="column column-header sticky" [ngStyle]="{minWidth: '56px', maxWidth: '56px', width: '56px'}">
            <dx-check-box #checkAll (click)="onCheckAll($event)"></dx-check-box>
          </div>

          <div class="column column-header" [ngClass]="[col.column, col.class || '']" [ngStyle]="setWidth(col)"
            *ngFor="let col of displayColumn; index as i">
            <span class="text">{{col.displayText}}</span>
          </div>

          <div class="column column-header column-feature">
            <span class="text">Chức năng</span>
          </div>
        </div>

        <!-- body -->
        <div class="table-body">

          <div *ngIf="!isLoading && data && data.length">
            <div class="row-item" [ngClass]="checkedList[i] ? 'checked' : ''" *ngFor="let item of data; index as i"
              (click)="rowClick.emit(item)" (dblclick)="rowDblClick.emit(item)">
              <div class="column column-body sticky" [ngStyle]="{minWidth: '56px', maxWidth: '56px', width: '56px'}">
                <dx-check-box [value]="checkedList[i]" (onValueChanged)="onCheck($event, i)"></dx-check-box>
              </div>

              <div class="column column-body"
                [ngClass]="[col.column, col.class || '', col.type == FieldType.Password ? 'password-field' : '']"
                [ngStyle]="setWidth(col)" *ngFor="let col of displayColumn; index as i">
                <ng-container [ngSwitch]="col.type" *ngIf="item[col.column]">

                  <!-- Nếu là link    -->
                  <a *ngSwitchCase="FieldType.Link" [href]="col.getLink(item) || item[col.column]"
                    [target]="col.target ?? '_self'" [matTooltip]="Utility.removeHtml(item[col.column])"
                    [innerHTML]="item[col.column]" class="over-3-dots">
                  </a>

                  <img *ngSwitchCase="FieldType.Image" [src]="item[col.column]">

                  <!-- Nếu là số  -->
                  <p *ngSwitchCase="FieldType.Number"
                    [matTooltip]="Utility.removeHtml(item[col.column] | NumberFormatPipe)"
                    [innerHTML]="item[col.column] | NumberFormatPipe" class="over-3-dots">
                  </p>

                  <!-- Nếu là số không format  -->
                  <p *ngSwitchCase="FieldType.NumberNoFormat" [matTooltip]="Utility.removeHtml(item[col.column])"
                    [innerHTML]="item[col.column]" class="over-3-dots">
                  </p>

                  <!-- Nếu là ngày  -->
                  <p *ngSwitchCase="FieldType.Date"
                    [matTooltip]="Utility.removeHtml(item[col.column] | DateVietnamPipe)"
                    [innerHTML]="item[col.column] | DateVietnamPipe" class="over-3-dots">
                  </p>

                  <!-- Nếu là ngày giờ -->
                  <p *ngSwitchCase="FieldType.DateTime"
                    [matTooltip]="Utility.removeHtml(item[col.column] | DateTimeVietnamPipe)"
                    [innerHTML]="item[col.column] | DateTimeVietnamPipe" class="over-3-dots">
                  </p>

                  <app-cms-user-states *ngSwitchCase="FieldType.AccountState" [state]="item[col.column]"
                    [showDropdown]="false" [disabled]="true"
                    (onChanged)="col.callback ? col.callback(item, $event) : ''">
                  </app-cms-user-states>

                  <!-- Default  -->
                  <p *ngSwitchDefault [matTooltip]="Utility.removeHtml(item[col.column])"
                    [innerHTML]="item[col.column] || ''" class="over-3-dots">
                  </p>
                </ng-container>

                <ng-container *ngIf="!item[col.column]">
                  <span class="empty">-</span>
                </ng-container>
              </div>

              <div class="column column-body column-feature">
                <div class="feature-icon bg-contain view" matTooltip="Xem bản ghi này" (click)="onView.emit(item)">
                </div>
                <div class="feature-icon bg-contain edit" matTooltip="Chỉnh sửa" (click)="onUpdate.emit(item)">
                </div>
                <div class="feature-icon bg-contain delete" matTooltip="Xóa" (click)="onDelete.emit(item)">
                </div>
              </div>
            </div>
          </div>

          <div class="no-data dis-flex" *ngIf="!isLoading && data && !data.length">
            <div class="wrapper">
              <div class="icon bg-contain"></div>
              <div class="text">{{'base_keys.no_data' | translate}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- pagination  -->
    <div class="grid-content-pagination">
      <mat-paginator #matPaginator aria-label="Select page" [length]="total" [pageIndex]="pageIndex"
        [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"
        (page)="changePage($event)">
      </mat-paginator>
    </div>
  </div>
</div>


<mat-menu #menu="matMenu">
  <div class="sort-grid-menu">
    <div class="sgm-item latest" (click)="sortValue = 'Mới nhất'; sortGrid(false)">
      <div class="icon bg-contain"></div>
      <div class="text">Sắp xếp theo Mới nhất</div>
    </div>

    <div class="sgm-item oldest" (click)="sortValue = 'Cũ nhất'; sortGrid(true)">
      <div class="icon bg-contain"></div>
      <div class="text">Sắp xếp theo Cũ nhất</div>
    </div>
  </div>
</mat-menu>