<div class="folder-picker">
  <input #uploadInput id="upf-id" type="file" [draggable]="!files.length" (change)="onFolderSelected($event)" webkitdirectory multiple />

  <div class="placeholder-wrapper" *ngIf="!files.length">
    <span class="item">{{'UPLOADER.FOLDER_PLACEHOLDER' | translate }}</span>
    <span class="item">{{'UPLOADER.TO_SELECT_FOLDER' | translate }}</span>
  </div>

  <div class="preview" *ngIf="files.length">
    <cdk-virtual-scroll-viewport [itemSize]="1">
      <ng-container *cdkVirtualFor="let file of files; index as i">
        <div class="file-item dis-flex">
          <img [src]="file.srcUrl" *ngIf="file.fileType == FileType.Image">

          <video controls *ngIf="file.fileType == FileType.Video">
            <source [src]="file.srcUrl" type="video/mp4">
          </video>

          <span *ngIf="file.fileType == FileType.Other">
            {{file.name}}
          </span>

          <div class="remove bg-contain" (click)="remove(file.id)"></div>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="reset bg-contain" *ngIf="files.length" (click)="reset(true)" matTooltip="Xóa hết các tệp hiện tại và tải lại">
    Tải lại
  </div>

</div>
