:host::ng-deep .base-button {
  transition: all 0.3s;

  &:hover {
    // opacity: 0.8;
  }

  button {
    width: 100%;
    height: 100%;
    // padding: 10px 24px !important;
    border-radius: 8px !important;
    box-shadow: none;
    padding: 0 !important;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .base-btn-text {
      font-weight: 500;
      line-height: 24px;
    }

    &.mat-basic {
      border: 1px solid var(--main-color);
      // color: var(--main-color);
      color: var(--gray-800); // design
      // .base-btn-text {
      //   font-weight: 600 !important; // design
      // }
    }

    &:disabled {
      border-color: rgba(0, 0, 0, 0.02) !important;
    }
  }

  .mat-mdc-button-base.mat-primary {
    // background-color: #0f83ff;
    background-color: var(--main-color);
  }

  .mat-mdc-button-base.mat-success {
    background-color: #28a745;
    color: var(--white);
  }

  .mat-mdc-raised-button:disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .mat-stroked-button {
    background-color: var(--white);
  }

  .mat-icon {
    max-width: 16px !important;
    height: 16px !important;
    margin-right: 8px;
  }

  .material-icons {
    font-size: 16px !important;
  }
}

::ng-deep {
  .full-width {
    width: 100%;

    .base-button {
      button {
        width: 100% !important;
      }
    }
  }

  mat-spinner {
    width: 16px !important;
    height: 36px !important;

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px !important;
      height: 100% !important;
    }
  }
}