<div class="cms-admin-form-cpn">

  <div class="cms-content-middle">
    <div class="row">
      <div class="col-12 data-item">
        <div class="label"> Họ và tên<span class="required">*</span></div>
        <dx-text-box #fullname placeholder="Nhập họ và tên" [(value)]="data.fullName"
          [readOnly]="formMode == FormMode.View" [height]="44" (onEnterKey)="save()">
        </dx-text-box>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 data-item">
        <div class="label"> Số điện thoại<span class="required">*</span></div>
        <dx-text-box #phone placeholder="Nhập số điện thoại" [(value)]="data.phoneNumber"
          [readOnly]="formMode == FormMode.View" [height]="44" (onEnterKey)="save()">
        </dx-text-box>
      </div>

      <div class="col-12 col-md-6 data-item">
        <div class="label"> Email<span class="required">*</span></div>
        <dx-text-box #email placeholder="Nhập email" [(value)]="data.email" [readOnly]="formMode == FormMode.View"
          [height]="44" (onEnterKey)="save()">
        </dx-text-box>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 data-item">
        <div class="label"> Mật khẩu<span class="required">*</span></div>
        <app-password-input #password placeholder="Nhập mật khẩu" [height]="44" [readOnly]="formMode == FormMode.View"
          [value]="data.password" (onValueChanged)="data.password = $event.value" (onEnterKey)="save()">
        </app-password-input>
      </div>

      <div class="col-12 col-md-6 data-item">
        <div class="label"> Quyền quản trị<span class="required">*</span></div>
        <app-role-selector #selector [value]="data.roles[0].roleId" [readOnly]="formMode == FormMode.View" [height]="44"
          (onValueChanged)="data.roles[0].roleId = $event.current">
        </app-role-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 data-item state">
        <div class="label"> Trạng thái tài khoản</div>
        <app-cms-user-states *ngIf="!isLoading" [state]="data.state" [disabled]="formMode == FormMode.View"
          (onChanged)="data.state = $event.id">
        </app-cms-user-states>
      </div>
    </div>

    <div class="row" *ngIf="false && formMode == FormMode.View">
      <div class="col-12 col-md-6 data-item">
        <div class="label"> {{'base_keys.created_date' | translate}} </div>
        <dx-date-box [(value)]="data.created" [readOnly]="true"></dx-date-box>
      </div>

      <div class="col-12 col-md-6 data-item">
        <div class="label"> {{'base_keys.last_modified_date' | translate}} </div>
        <dx-date-box [(value)]="data.modified" [readOnly]="true"></dx-date-box>
      </div>
    </div>
  </div>

  <div class="cms-features-bottom">
    <app-cms-feature #cmsFeature [formMode]="formMode" (cancel)="cancel()" (save)="save()" (update)="update()"
      (delete)="delete()">
    </app-cms-feature>
  </div>

  <progess-spinner-loading *ngIf="isLoading"></progess-spinner-loading>
</div>
