<div class="cms-sidebar-cpn">
  <a class="logo bg-contain" [routerLink]="['/' + Routing.HOME.path]"></a>
  <div class="cms-list">
    <a class="cms-item" [routerLink]="['/' + item.path]" [ngClass]="[item.class, item.selected ? 'selected' : '']" *ngFor="let item of items"
      (click)="redirect(item)" [matTooltip]="showTooltip ? item.text : ''">

      <div *ngIf="!item.selected" class="icon bg-contain"
        [ngStyle]="{'background': 'url(' + '../../../assets/img/cms/' + item.class + '.svg' + ')'}">
      </div>

      <div *ngIf="item.selected" class="icon bg-contain"
        [ngStyle]="{'background': 'url(' + '../../../assets/img/cms/' + item.class + '-selected.svg' + ')'}">
      </div>

      <div class="text">
        {{item.text}}
      </div>
    </a>
  </div>
</div>
