.cms-sidebar-cpn {
  width: 100%;
  height: 100%;
  padding: var(--sidebar-padding);
  background-color: var(--main-color);
  transition: all 0.3s;

  .logo {
    display: block;
    height: 56px;
    margin-bottom: 24px;
    background-image: url(~/src/assets/img/logo-white.png);
    border-radius: 8px;
    cursor: pointer;
  }

  .cms-list {
    .cms-item {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      margin-bottom: 8px;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.1s;
      cursor: pointer;

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      .text {
        width: calc(100% - 32px);
        visibility: var(--text-sidebar-visibility);
        color: var(--white);
        font-size: 13px;
      }

      &.selected,
      &:hover {
        background-color: var(--white);

        .text {
          color: var(--main-color);
        }
      }

      // &.class {
      //   .icon {
      //     background-image: url(~/src/assets/img/cms/class.svg);
      //   }
      // }
    }
  }
}

@media screen and (max-width: 1200px) {
  .cms-sidebar-cpn {
    .cms-list {
      .cms-item {
        height: 32px;
        padding: 4px;

        .icon {
          margin: 0;
        }
      }
    }
  }
}