/* You can add global styles to this file, and also import other style files */
@import url("~/src/assets/css/variables.css");
@import url("~/src/assets/css/scroll.css");
@import url("~/src/assets/css/keyframes.css");
@import url("~/src/assets/css/notification.css");
@import url("~/src/assets/css/dialog.css");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-size: 13px;
}

button {
  outline: none !important;
}

.dis-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.over-3-dots {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  transition: all 1s;
  overflow-y: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}