::ng-deep .register-cpn {
    padding: 24px 0;

    .title {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .icon {
            width: var(--large-title-size);
            height: var(--large-title-size);
            margin-right: 12px;
            background-image: url(~/src/assets/img/auth/icon_login.png);
        }

        .text {
            color: var(--gray-800);
            font-size: var(--large-title-size);
            font-weight: 700;
            text-transform: uppercase;
            font-family: "MontserratBold";
        }
    }

    .wrap {
        display: flex;
        height: 616px;
        border-radius: 16px;
        border: 1px solid var(--Gray-200, #e4e7ec);

        .left {
            width: 50%;
            height: 100%;
            padding: 32px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            background-image: url(~/src/assets/img/auth/register.png);
            background-color: #fcfcfd;
        }

        .right {
            width: 50%;
            height: 100%;
            padding: 32px;

            .title-system {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;

                .text {
                    color: var(--gray-800);
                    font-size: var(--auth-sub-title-size);
                    font-weight: 600;
                    font-family: "MontserratSemiBold";
                }

                .logo {
                    width: 93px;
                    height: 48px;
                    background-image: url(~src/assets/img/logo.png);
                    cursor: pointer;
                }
            }

            .reg-item {
                display: inline-block;
                width: 50%;
                margin-bottom: 24px;

                .label {
                    margin-bottom: 4px;
                    font-weight: 500;
                    font-size: var(--size);
                    font-family: "MontserratMedium";
                    color: var(--gray-800);

                    .required {
                        color: var(--danger);
                    }
                }

                &.full-name,
                &.phone,
                &.password {
                    width: calc(50% - 16px);
                    margin-right: 16px;
                }

                dx-text-box,
                dx-select-box {
                    border-radius: 8px !important;
                }
            }

            .have-an-account {
                margin-top: 24px;
                text-align: center;
                color: var(--gray-800);

                .login-now {
                    margin-left: 4px;
                    font-family: "MontserratSemiBold";
                    color: var(--main-color);
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .register-cpn {
        .wrap {
            height: 800px;
            border: none;

            .left {
                display: none;
            }

            .right {
                width: 100%;

                .title-system {
                    display: none;
                }

                .reg-item {
                    width: 100%;

                    &.full-name,
                    &.phone,
                    &.password {
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }

        .title {
            .icon {
                display: none !important;
            }

            .text {
                margin-left: 16px;
            }
        }
    }
}