<div class="course-lesson-cpn">
  <div class="course-info">
    <a class="back" [routerLink]="'/' + Routing.MY_COURES.path">
      <div class="icon bg-contain"></div>
    </a>
    <div class="course-name over-3-dots">
      {{course.name}}
      <skeleton-loading *ngIf="isLoadingCourse"></skeleton-loading>
    </div>
  </div>
  <div class="lessons">

    <div class="lesson" *ngFor="let lesson of lessons">
      <div class="lesson-image bg-cover" [ngStyle]="{backgroundImage: 'url(' + lesson.imageUrl + ')'}"></div>
      <div class="lesson-info-wrapper">
        <div class="less-item lesson-name over-3-dots">{{lesson.name}}</div>
        <div class="less-item lesson-description">{{lesson.description}}</div>

        <div class="less-item btns">
          <div class="learn">
            <base-button text="Học bài" [height]="40" [width]="120" [finishImmediately]="true" (onClick)="Utility.featureIsInDevelopment($event)"></base-button>
          </div>
          <div class="practice">
            <a [routerLink]="'/' + Routing.COURSE_LESSON_TEST.path + '/' + course.id + '/' + lesson.id">Làm bài tập</a>
          </div>
        </div>
      </div>
    </div>

    <div class="view-more" (click)="viewMore()" *ngIf="current < total">
      <div class="icon bg-contain"></div>
      <div class="text">{{'base_keys.view_more' | translate }}</div>
    </div>

    <div class="loading-wrapper" *ngIf="isLoading">
      <div class="lesson-loading">
        <open-loading></open-loading>
      </div>

      <div class="lesson-loading">
        <open-loading></open-loading>
      </div>
    </div>

    <p class="no-data-message" *ngIf="!isLoading && !lessons.length">
      Các bài giảng sẽ sớm xuất hiện tại đây!
    </p>
  </div>
</div>
