<div class="base-uploader">
  <div class="uploader" (click)="prevent($event)">
    <ngx-dropzone *ngIf="mode == ''" #dropzone class="ngx-dropzone" [multiple]="multiple"
      [accept]="allowedFileExtensions" [expandable]="false" [disabled]="disabled" [maxFileSize]="maxFileSize"
      (change)="selected($event)">
      <ngx-dropzone-label>
        <div>Kéo và thả</div>
        <div>{{label}}</div>
      </ngx-dropzone-label>

      <ng-container *ngFor="let f of files">
        <ngx-dropzone-image-preview *ngIf="f.type.startsWith('image')" [ngClass]="!multiple ? 'single' : ''" [file]="f"
          [removable]="true" (removed)="removed(f)">
          <!-- <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label> -->
        </ngx-dropzone-image-preview>

        <ngx-dropzone-video-preview *ngIf="f.type.startsWith('video')" [ngClass]="!multiple ? 'single' : ''" [file]="f"
          [removable]="true" (removed)="removed(f)">
        </ngx-dropzone-video-preview>

        <ngx-dropzone-preview *ngIf="!f.type.startsWith('image') && !f.type.startsWith('video')"
          [ngClass]="!multiple ? 'single' : ''" [file]="f" [removable]="true" (removed)="removed(f)">
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ng-container>

    </ngx-dropzone>

    <ngx-dropzone *ngIf="mode == 'exercise-image'" #dropzone class="ngx-dropzone-image" [multiple]="false"
      [accept]="allowedFileExtensions" [expandable]="false" [disabled]="disabled" [maxFileSize]="maxFileSize"
      (change)="selected($event)">
      <div class="icon-inner bg-contain"></div>
    </ngx-dropzone>

    <ngx-dropzone *ngIf="mode == 'exercise-audio'" #dropzone class="ngx-dropzone-audio" [multiple]="false"
      accept='.mp3,.wav,.flac,.aac,.ogg,.m4a,.wma,.aiff,.alac,.ape' [expandable]="false" [disabled]="disabled" [maxFileSize]="maxFileSize"
      (change)="selected($event)">
      <div class="icon-inner bg-contain"></div>
    </ngx-dropzone>

    <progess-spinner-loading *ngIf="isFetching"></progess-spinner-loading>
  </div>
</div>
