::ng-deep .base-uploader {
  .upload-btn {
    margin-top: 12px;
  }

  .ngx-dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    border: 1px dashed var(--main-color) !important;

    .single {
      width: 90% !important;
      height: 90% !important;
      max-width: 90% !important;
      max-height: 90% !important;
    }
  }

  .ngx-dropzone-image, .ngx-dropzone-audio  {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100% !important;
    border: none !important;
    border-radius: 4px;
    background-color: var(--grey);

    .icon-inner {
      width: 20px;
      height: 20px;
      background-image: url(~/src/assets/img/lesson/image.svg);
    }

    &.ngx-dropzone-audio {
      .icon-inner {
        background-image: url(~/src/assets/img/lesson/volume.svg);
      }
    }
  }

  ngx-dropzone-preview {
    overflow: hidden;
  }

  .uploader {
    position: relative;

    .progess-spinner-loading {
      position: absolute;
    }
  }
}
