<div class="base-exercise-editor">
  <dx-html-editor #editor [readOnly]="readonly" [disabled]="disable" [value]="valueContent" [isValid]="isValid"
    [placeholder]="disable ? '' : placeholder" [spellcheck]="false" (onValueChanged)="onValueChanged($event)">

    <dxo-toolbar [multiline]="false">
      <dxi-item name="bold" [options]="{ focusStateEnabled: false }"></dxi-item>
      <dxi-item name="italic"></dxi-item>
      <dxi-item name="underline"></dxi-item>
      <dxi-item name="strike"></dxi-item>
    </dxo-toolbar>

    <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>

    <dxo-image-upload [tabs]="['file', 'url']" fileUploadMode="base64"></dxo-image-upload>

    <dxo-table-context-menu [enabled]="true">
    </dxo-table-context-menu>

  </dx-html-editor>
</div>
